In [23]:
import pandas as pd

data_row_일반질문=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0426/row/normal data/row/콜센터민원_일반 행정 문의_상담사질문.csv",index_col=0)
data_row_일반답변=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0426/row/normal data/row/콜센터민원_일반 행정 문의_상담사답변.csv",index_col=0)

In [24]:
data_row_일반질문

                                상담사질문(요청)
0                       어떤 은행을 이용하고 계십니까?
1                         어느지점으로 안내해드릴까요?
2                 지금 전화거신 핸드폰이 본인명의 맞습니까?
3                        생년월일을 말씀해주시겠습니까?
4                         살고계신 주소는 어디입니까?
...                                   ...
4492                      서울시에서 진행하는 건가요?
4493                         어떠점이 궁금하십니까?
4494  공연, 체험, 전시, 기타 등이 있는데 어느걸로 안내해드릴까요?
4495             네. 혼인신고의 어떤 내용을 알고싶으신가요?
4496                  서울에 위치한거 말씀하시는 건가요?

[4497 rows x 1 columns]

In [25]:
data_row_일반답변

                                                상담사답변
0                      이용하시는 은행의 사이트에서 지방세 납부가 가능합니다.
1                 그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능합니다.
2                                        방문납부도 가능합니다.
3                             도보로 10분위치에 서울역지점이 있습니다.
4                                 도보로 가시는게 빠를 것 같습니다.
...                                               ...
20065                                     62400원 입니다.
20066                                   1423200원 입니다.
20067  입주신청서와 추천서, 급여내역서 외 기타 서류를 갖고 홈페이지에서 신청하면 됩니다.
20068                                    1~3순위가 있습니다.
20069             국가유공자 자녀 및 국민기초생활수급권자를 1순위로 두고있습니다.

[20070 rows x 1 columns]

In [26]:
data_row_일반답변[:40]

                                                상담사답변
0                      이용하시는 은행의 사이트에서 지방세 납부가 가능합니다.
1                 그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능합니다.
2                                        방문납부도 가능합니다.
3                             도보로 10분위치에 서울역지점이 있습니다.
4                                 도보로 가시는게 빠를 것 같습니다.
5                               위택스 사이트에서 납부하실수 있습니다.
6                                www.wetax.go.kr 입니다.
7                     이용하시는 은행의 사이트에서도 지방세 납부가 가능합니다.
8                               간단한 본인확인 후 안내해드리겠습니다.
9                                        본인확인이 되셨습니다.
10                                 지방세는 22만원으로 조회됩니다.
11                       온라인으로는 위택스나 은행 홈페이지에서 가능합니다.
12                                OOOO.OOO.go.kr 입니다.
13                                   현재로썬 진행될 예정입니다.
14                          네, 철저한 방역수칙하에 진행할 예정입니다.
15                            예매사이트 통해서 환불하실 수 있습니다.
16                         공연 일주일 전까진 10% 수수료가 있습니다.
17                                    네 규정상 어쩔수 없습니다.
18                     철저한 방역수칙으로 진행하기에 걱정 안하셔도 됩니다.
19  그 부분에 대해서는 개인이 조심을 하셔야기때문에 서울시에서는 따로 보상을 해드리진 ...
20                            확산세가 심하면 취소 될 수도 있습니다.
21                                           네 맞습니다.
22                             죄송하지만 이미 신청기간이 지났습니다.
23                            희망두배 청년통장은 신청하실수 있습니다.
24                                청년저축계좌랑 비슷한 정책입니다.
25                                           네 맞습니다.
26  2~3년간 꾸준히 저축하는 서울청년 대상 본인 저축액 100%를 서울시 예산으로 추...
27                                 저축액을 두 배로 적립해줍니다.
28                                          총 3천명입니다.
29                       이번달 24일까지 신청기간이니 서둘러 신청해주세요.
30               네 서울거주자이시면서 만 18세~34세 이하의 청년 대상입니다.
31                                           네 감사합니다.
32                                     네 그럼 신청 가능합니다.
33  매달 10만원 저축이시면 장려금 30만원 지원받으셔서 3년 후 1,440만원을 마련...
34            네. 청년저축계좌 유지조건으로 3년간 근로활동을 계속 하셔야 합니다.
35       네 근로장려 목적이기때문에 근로활동의 공백이 생기지 않도록 주의하셔야 합니다.
36            다른 조건으로는 3년안에 국가공인자격증 1개 이상을 취득해야 합니다.
37                       네 결혼 7년 이내 부부는 신혼부부에 해당합니다.
38                  임대차 보증금 지원사업과 버팀목 전세자금 대출이 있습니다.
39                   하나은행, 국민, 신한은행을 통해서 받으실 수 있습니다.

In [27]:
data_row_일반답변.iloc[31,0]

'네 감사합니다.'

In [28]:
print(len(data_row_일반답변.iloc[31,0]))

8

In [29]:
count=0
for i in range(data_row_일반질문.shape[0]):
    if len(data_row_일반질문.iloc[i,0])>len(data_row_일반답변.iloc[31,0]):
        count=count+1

In [30]:
for j in range(0,data_row_일반답변.shape[0]):
    if len(data_row_일반답변.iloc[j,0])>len(data_row_일반답변.iloc[31,0]):
        count=count+1

In [31]:
count

22589

In [32]:
data_row_normal=pd.DataFrame(index=range(count),columns=['sentence'])

In [33]:
data_row_normal

      sentence
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
22584      NaN
22585      NaN
22586      NaN
22587      NaN
22588      NaN

[22589 rows x 1 columns]

In [34]:
count=0
for i in range(data_row_일반질문.shape[0]):
    if len(data_row_일반질문.iloc[i,0])>len(data_row_일반답변.iloc[31,0]):
        data_row_normal.iloc[i,0]=data_row_일반질문.iloc[i,0]
        count=count+1

In [35]:
for i in range(data_row_일반답변.shape[0]):
    if len(data_row_일반답변.iloc[i,0])>len(data_row_일반답변.iloc[31,0]):
        data_row_normal.iloc[count,0]=data_row_일반답변.iloc[i,0]
        count=count+1

In [36]:
data_row_normal

                                             sentence
0                                   어떤 은행을 이용하고 계십니까?
1                                     어느지점으로 안내해드릴까요?
2                             지금 전화거신 핸드폰이 본인명의 맞습니까?
3                                    생년월일을 말씀해주시겠습니까?
4                                     살고계신 주소는 어디입니까?
...                                               ...
22584                                     62400원 입니다.
22585                                   1423200원 입니다.
22586  입주신청서와 추천서, 급여내역서 외 기타 서류를 갖고 홈페이지에서 신청하면 됩니다.
22587                                    1~3순위가 있습니다.
22588             국가유공자 자녀 및 국민기초생활수급권자를 1순위로 두고있습니다.

[22589 rows x 1 columns]

In [37]:
y=pd.DataFrame(index=range(data_row_normal.shape[0]),columns=['predict'])

In [38]:
y=y.fillna('0')

In [39]:
data_normal=pd.concat([data_row_normal,y],axis=1)

In [40]:
data_normal=data_normal[:3500]

In [41]:
data_normal.to_csv("일반 대화(4문장).csv")