In [9]:
import pandas as pd

data=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0518(final)/normal row/일반민원.csv",index_col=0)
data_ab1=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0518(final)/abnormal row/대출사기형(4문장).csv",index_col=0)
data_ab2=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0518(final)/abnormal row/수사기관형(4문장).csv",index_col=0)

In [10]:
data

                                             sentence  predict
0                      이용하시는 은행의 사이트에서 지방세 납부가 가능합니다.        0
1                 그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능합니다.        0
2                                        방문납부도 가능합니다.        0
3                             도보로 10분위치에 서울역지점이 있습니다.        0
4                                 도보로 가시는게 빠를 것 같습니다.        0
...                                               ...      ...
20065                                     62400원 입니다.        0
20066                                   1423200원 입니다.        0
20067  입주신청서와 추천서, 급여내역서 외 기타 서류를 갖고 홈페이지에서 신청하면 됩니다.        0
20068                                    1~3순위가 있습니다.        0
20069             국가유공자 자녀 및 국민기초생활수급권자를 1순위로 두고있습니다.        0

[16933 rows x 2 columns]

In [11]:
data=data.sample(frac=1)

In [12]:
data_ab1

                                               sentence  predict
0                        여보세요 네   님 예 예 어저께 통화했던 최영환입니다        1
1      아 예 예 어떻게 가진행 결과 안내차 오늘 아침에 전화 드린다고 제가 얘기를 했었...        1
2               네 금리는 연 금리 5.5%에 상환 기간 60개월입니다. 5년이고요 네        1
3      매 월 상환하시는 금액은 60개월 기준 원금 이자 포함되신 금액으로 573035원...        1
4                             금리가 아 예 예 예. 말씀하세요 괜찮으세요?        1
...                                                 ...      ...
1391   아 그러니까 사장님께서 그 안쓰시는 통장 있으시면 400에서 450까지 선지급 해...        1
1392                          네 알겠습니다 네네 네 여보세요 뭐 어디세요?        1
1393   아 네 안녕하세요 저희 그 하나캐피탈에서 연락을 드렸습니다 아 그래요? 네네네 고...        1
1394   지금 현재 이용중이신 고금리건 채무 러시앤캐시 산와머니 이런 고금리건 채무 이용하...        1
1395   네네 어디어디 이용중이십니까? 너무 많아가지고  네 대부업건 어디어디 이용중이세요...        1

[1396 rows x 2 columns]

In [13]:
data_ab2

                                               sentence  predict
0     아 서울 중앙 지검 첨단 범죄 수사 일부 이희나 수사관입니다. 본 사건 조사는 법원...        2
1      네 네 OOO씨 지금 제가 본인 확인 한번 할께요. 생년월일 앞에 여섯 자리만 말...        2
2        네 성함은 OOO님 맞으시죠? 네 네 본인 김성오 일당 잘 알고 있으십니까? 아니요        2
3      전혀 모른다고 진술 하셨는데 맞습니까? 네 네 이천 십 칠년이 월 삼 일 경기도 ...        2
4      이 두개 계좌 계설 사실에 대해서 전혀 모르신다는 말씀 이시죠? 네 네 본인은 네...        2
...                                                 ...      ...
1495   네. 근데 어딜 가야하나요? 제가? 아 어딜 가는게 아니라 제가 사건도 내용을 좀...        2
1496   그때 제가 절차 다 질문 드리면 본인께서는 아시는 대로 진술을 해주시면 되는겁니다...        2
1497   사건고지 좀 더 해 드리겠습니다. 또한 이번에 검거된 범인들 다수가 카드사 보험사...        2
1498   김태환이란 사람은 농협에서 8년 간 과장으로 근무한 경력이 확인되었어요. 현재 이...        2
1499   많게는 1500만까지 받고 통장 판매한 사실이 확인되었습니다. 판매하신 50 여명...        2

[1500 rows x 2 columns]

In [14]:
data_ab=pd.concat([data_ab1,data_ab2])

In [15]:
data_ab

                                               sentence  predict
0                        여보세요 네   님 예 예 어저께 통화했던 최영환입니다        1
1      아 예 예 어떻게 가진행 결과 안내차 오늘 아침에 전화 드린다고 제가 얘기를 했었...        1
2               네 금리는 연 금리 5.5%에 상환 기간 60개월입니다. 5년이고요 네        1
3      매 월 상환하시는 금액은 60개월 기준 원금 이자 포함되신 금액으로 573035원...        1
4                             금리가 아 예 예 예. 말씀하세요 괜찮으세요?        1
...                                                 ...      ...
1495   네. 근데 어딜 가야하나요? 제가? 아 어딜 가는게 아니라 제가 사건도 내용을 좀...        2
1496   그때 제가 절차 다 질문 드리면 본인께서는 아시는 대로 진술을 해주시면 되는겁니다...        2
1497   사건고지 좀 더 해 드리겠습니다. 또한 이번에 검거된 범인들 다수가 카드사 보험사...        2
1498   김태환이란 사람은 농협에서 8년 간 과장으로 근무한 경력이 확인되었어요. 현재 이...        2
1499   많게는 1500만까지 받고 통장 판매한 사실이 확인되었습니다. 판매하신 50 여명...        2

[2896 rows x 2 columns]

In [16]:
data=pd.concat([data[:3000],data_ab])

In [17]:
data

                                                sentence  predict
9248                           네, 30%의 지방교육세가 포함된 금액입니다.        0
14615                                       고객님 가능하십니다.         0
2491                   1회 예약시 프로그램에 따라 3-5인 동반 예약할수 있습니다        0
8098                                       네 지원할 수 없습니다.        0
1714                                  어린이집 주변 내에서는 금연입니다        0
...                                                  ...      ...
1495    네. 근데 어딜 가야하나요? 제가? 아 어딜 가는게 아니라 제가 사건도 내용을 좀...        2
1496    그때 제가 절차 다 질문 드리면 본인께서는 아시는 대로 진술을 해주시면 되는겁니다...        2
1497    사건고지 좀 더 해 드리겠습니다. 또한 이번에 검거된 범인들 다수가 카드사 보험사...        2
1498    김태환이란 사람은 농협에서 8년 간 과장으로 근무한 경력이 확인되었어요. 현재 이...        2
1499    많게는 1500만까지 받고 통장 판매한 사실이 확인되었습니다. 판매하신 50 여명...        2

[5896 rows x 2 columns]

In [18]:
data=data.sample(frac=1)

In [19]:
data

                                               sentence  predict
890    네 그냥. 똑같이 뭐 그렇게 까지밖에 안해주던데. 그러니까 오만원권 이천. 네 그...        2
608                예 그럼 바로 해주세요 바로 위임 처리로 진행을 도와드릴까요? 예        1
1304                                  네 천팔백에 네 칠 구사하나구요        2
1107   그 분도 그렇죠. 아까도 제가 말씀 말씀 했듯이 이 통장이 대포 통장 사용되었다고...        2
5726                    다자녀 3인이상이면 취득세 감면혜택을 받으실수 있습니다.        0
...                                                 ...      ...
7564          서울시 홍보대사로 핑크퐁과 아기상어가 캐릭터로 처음 선정되었기 때문입니다.        0
993        사용하시는 휴대 전화 번호 통신사는 어떻게 되세요? SKT요 본인 명의세요? 예        1
1177   네네 가족 그 패밀리카드거든요 그그러니까 계좌 번호까지만 기다리시라고 하실 수 있...        2
1391   네 계속 예탁금까지도 제가 깡통인지 아닌지 확인을 해봐야 될 거 같습니다 아 예 ...        2
2150       자동차 세금은 신차를 뽑은 후 2년이 지나는 시점부터 해마다 5%씩 감소합니다.        0

[5896 rows x 2 columns]

In [20]:
test_data=data[:300]

In [21]:
train_data=data[300:data.shape[0]]

In [22]:
train_data

                                               sentence  predict
672    음 입금 바로 되고요? 그렇죠. 당일로도 가능하시고 다만 위임 처리하실 경우에는 ...        1
5506                      전자가족관계등록시스템 홈페이지에서 신청하시면 됩니다.        0
2097                      아닙니다. 고용노동부 홈페이지에서 신청하시면 됩니다.        0
531                 아닙니다. 올려놓은것은 예시여서 그 외 작품을 선정하셔도 돼요.        0
923    예 말씀 드리는 거 말씀 드리는데 집중을 안 하시는 거 같다고요 아 예 집중하실 ...        1
...                                                 ...      ...
7564          서울시 홍보대사로 핑크퐁과 아기상어가 캐릭터로 처음 선정되었기 때문입니다.        0
993        사용하시는 휴대 전화 번호 통신사는 어떻게 되세요? SKT요 본인 명의세요? 예        1
1177   네네 가족 그 패밀리카드거든요 그그러니까 계좌 번호까지만 기다리시라고 하실 수 있...        2
1391   네 계속 예탁금까지도 제가 깡통인지 아닌지 확인을 해봐야 될 거 같습니다 아 예 ...        2
2150       자동차 세금은 신차를 뽑은 후 2년이 지나는 시점부터 해마다 5%씩 감소합니다.        0

[5596 rows x 2 columns]

In [23]:
train_data.to_csv("train data(0).csv")
test_data.to_csv("test data(0).csv")