In [53]:
import pandas as pd

data_ab=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/abnormal/new data(0408)/voice fishing data new(0408).csv")

data_nor=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/normal/일반 민원.csv")

In [54]:
data_ab

       Unnamed: 0                                           sentence  predict
0           10838              '또한 선생님 때문에 다른 사람이 피해를 받아서 안된다는 거예요.'        0
1            1963   나도 누구나 해가지고 그러한 마지막 혹시 수도권인데 수갑차고 오셔서 얘기합시다 아...        0
2           13276   '전화는 끊지 마시고 어 상사분한테 다 얘기 드리고 나서 바로 저한테 얘기해 주셔...        0
3            8600                                                '예'        0
4           18738                                                '네'        0
...           ...                                                ...      ...
20547       13037                                                '네'        0
20548       20253                ['효과가 없으시기 때문에 그 녹취로써 약식 조사를 진행할 건데        0
20549       11147                      '돈을 받으시려면 계좌를 불러야 되는 거 아닙니까?'        0
20550       13154                                          '가고있는데요?'        0
20551       11951                              '그 수사관한테 제가 얘기해 놨어요.'        0

[20552 rows x 3 columns]

In [55]:
data_nor

       Unnamed: 0                             sentence  predict
0               0       이용하시는 은행의 사이트에서 지방세 납부가 가능합니다.        1
1               1  그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능합니다.        1
2               2                         방문납부도 가능합니다.        1
3               3              도보로 10분위치에 서울역지점이 있습니다.        1
4               4                  도보로 가시는게 빠를 것 같습니다.        1
...           ...                                  ...      ...
24562       24562                   추가적으로 필요하신거 있으신가요?        1
24563       24563                      서울시에서 진행하는 건가요?        1
24564       24564                         어떠점이 궁금하십니까?        1
24565       24565  공연, 체험, 전시, 기타 등이 있는데 어느걸로 안내해드릴까요?        1
24566       24566             네. 혼인신고의 어떤 내용을 알고싶으신가요?        1

[24567 rows x 3 columns]

In [56]:
data_nor.isnull().sum()

Unnamed: 0    0
sentence      1
predict       0
dtype: int64

In [57]:
data_ab.isnull().sum()

Unnamed: 0     0
sentence      18
predict        0
dtype: int64

In [58]:
data_nor=data_nor.dropna()
data_ab=data_ab.dropna()

In [59]:
data_nor.drop(columns=['Unnamed: 0'],inplace=True)
data_ab.drop(columns=['Unnamed: 0'],inplace=True)

/var/folders/gb/hslcbzfs0bvcnj3zxtfrxt_r0000gn/T/ipykernel_5228/1966486422.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_nor.drop(columns=['Unnamed: 0'],inplace=True)
/var/folders/gb/hslcbzfs0bvcnj3zxtfrxt_r0000gn/T/ipykernel_5228/1966486422.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ab.drop(columns=['Unnamed: 0'],inplace=True)

In [60]:
print(data_nor.shape)
print(data_ab.shape)

(24566, 2)
(20534, 2)

In [61]:
data=pd.DataFrame(index=range(0,data_ab.shape[0]+data_nor.shape[0]),columns=["sentence","predict"])

In [62]:
data_nor

                                  sentence  predict
0           이용하시는 은행의 사이트에서 지방세 납부가 가능합니다.        1
1      그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능합니다.        1
2                             방문납부도 가능합니다.        1
3                  도보로 10분위치에 서울역지점이 있습니다.        1
4                      도보로 가시는게 빠를 것 같습니다.        1
...                                    ...      ...
24562                   추가적으로 필요하신거 있으신가요?        1
24563                      서울시에서 진행하는 건가요?        1
24564                         어떠점이 궁금하십니까?        1
24565  공연, 체험, 전시, 기타 등이 있는데 어느걸로 안내해드릴까요?        1
24566             네. 혼인신고의 어떤 내용을 알고싶으신가요?        1

[24566 rows x 2 columns]

In [63]:
import random

for i in range(data_nor.shape[0]):
    data.iloc[i,0]=data_nor.iloc[i,0]
    data.iloc[i,1]=data_nor.iloc[i,1]

In [64]:
data

                                  sentence predict
0           이용하시는 은행의 사이트에서 지방세 납부가 가능합니다.       1
1      그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능합니다.       1
2                             방문납부도 가능합니다.       1
3                  도보로 10분위치에 서울역지점이 있습니다.       1
4                      도보로 가시는게 빠를 것 같습니다.       1
...                                    ...     ...
45095                                  NaN     NaN
45096                                  NaN     NaN
45097                                  NaN     NaN
45098                                  NaN     NaN
45099                                  NaN     NaN

[45100 rows x 2 columns]

In [65]:
data.isnull().sum()

sentence    20534
predict     20534
dtype: int64

In [66]:
data_ab

                                                sentence  predict
0                  '또한 선생님 때문에 다른 사람이 피해를 받아서 안된다는 거예요.'        0
1       나도 누구나 해가지고 그러한 마지막 혹시 수도권인데 수갑차고 오셔서 얘기합시다 아...        0
2       '전화는 끊지 마시고 어 상사분한테 다 얘기 드리고 나서 바로 저한테 얘기해 주셔...        0
3                                                    '예'        0
4                                                    '네'        0
...                                                  ...      ...
20547                                                '네'        0
20548                ['효과가 없으시기 때문에 그 녹취로써 약식 조사를 진행할 건데        0
20549                      '돈을 받으시려면 계좌를 불러야 되는 거 아닙니까?'        0
20550                                          '가고있는데요?'        0
20551                              '그 수사관한테 제가 얘기해 놨어요.'        0

[20534 rows x 2 columns]

In [67]:
data_ab.isnull().sum()

sentence    0
predict     0
dtype: int64

In [68]:
num=data_nor.shape[0]
for i in range(data_ab.shape[0]):
    data.iloc[num+i,0]=data_ab.iloc[i,0]
    data.iloc[num+i,1]=data_ab.iloc[i,1]

In [69]:
data

                                  sentence predict
0           이용하시는 은행의 사이트에서 지방세 납부가 가능합니다.       1
1      그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능합니다.       1
2                             방문납부도 가능합니다.       1
3                  도보로 10분위치에 서울역지점이 있습니다.       1
4                      도보로 가시는게 빠를 것 같습니다.       1
...                                    ...     ...
45095                                  '네'       0
45096  ['효과가 없으시기 때문에 그 녹취로써 약식 조사를 진행할 건데       0
45097        '돈을 받으시려면 계좌를 불러야 되는 거 아닙니까?'       0
45098                            '가고있는데요?'       0
45099                '그 수사관한테 제가 얘기해 놨어요.'       0

[45100 rows x 2 columns]

In [70]:
data=data.sample(frac=1)

In [71]:
data

                              sentence predict
15163  일단 한국에서 혼인신고 및 자녀인지 신고절차가 필요합니다       1
21561                    차종이 어떻게 되나요?        1
31222                 '예 차후에 변동 안 되세요'       0
12251                   ㅇ구에 ㅇㅇ행사가 있습니다       1
17426           그럼 관할 구청 세무과로 문의하면 됩니다       1
...                                ...     ...
32274         본의 입장도 이해하려고요 황제할 수 있겠지만       0
25301                            '예 예'       0
15464     이메일과 같은 고지서 전자송달을 신청하시면 됩니다.       1
39957         '네 이전 본인께서 필히 숙지 해 주시고.'       0
39453                  'OOO씨 파이팅 합시다.'       0

[45100 rows x 2 columns]

In [72]:
data.to_csv("train_data_before_vector.csv")

In [74]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer("sentence-transformers/all-MiniLM-L6-v2")

In [75]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [76]:
A=model.encode(data.iloc[0,0])
A[0]

-0.0042293975

In [77]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [78]:
list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383]

In [79]:
x_train=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [80]:
x_train.shape

(45100, 384)

In [81]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [82]:

x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
for i in range(data.shape[0]):
    y_train.iloc[i,0]=data.iloc[i,1]

In [84]:
y_train

      predict
0           1
1           1
2           0
3           1
4           1
...       ...
45095       0
45096       0
45097       1
45098       0
45099       0

[45100 rows x 1 columns]

In [85]:
y_train.isnull().sum()

predict    0
dtype: int64

In [86]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [87]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,-0.004229,0.07256,0.094185,-0.031739,-0.046968,-0.048897,0.102303,0.0051,0.011732,-0.012308,...,0.065413,0.027708,-0.006487,0.049705,0.048809,-0.000071,0.041365,0.071303,-0.113864,-0.041965
1,-0.084859,0.082512,0.069902,0.009472,-0.011829,-0.071796,0.122751,0.043924,-0.012692,-0.058138,...,-0.001622,0.047869,0.051019,0.038951,-0.012201,-0.072979,0.051206,0.046188,-0.056334,-0.000234
2,-0.048692,0.138109,0.102954,0.012868,-0.0034,-0.063885,0.103188,0.004811,-0.018599,-0.050638,...,0.014042,0.00845,0.027614,-0.005515,0.007598,-0.058005,0.131728,0.102537,-0.053894,-0.004166
3,0.038173,0.041413,0.068678,0.00886,0.013012,0.006053,0.1121,0.042345,0.007682,-0.046472,...,0.061897,0.060547,0.007125,0.055242,0.024385,0.015844,0.02856,-0.014318,-0.006316,-0.008973
4,0.046071,0.047331,0.06904,0.02538,-0.023195,-0.073314,0.006266,0.051248,-0.025088,-0.018768,...,0.001601,0.03438,0.030323,0.034381,0.031245,-0.011916,0.076274,-0.015008,0.012064,0.040681
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45095,-0.003543,0.025515,-0.021004,-0.003035,-0.009767,-0.071697,-0.030056,0.095868,0.010581,-0.047459,...,0.032444,0.038415,0.016813,-0.011563,0.032724,-0.025539,0.00155,-0.054191,-0.002923,0.015079
45096,-0.010104,0.065169,0.082837,0.05242,0.017148,-0.007504,0.157916,-0.029795,0.001347,-0.069736,...,0.029458,0.092926,0.021515,0.072779,0.013796,-0.014541,0.049365,0.089767,0.052924,-0.07158
45097,0.011817,0.085869,0.028178,-0.022355,-0.018057,-0.075116,0.009861,0.065206,0.015294,-0.031599,...,0.01927,0.031184,-0.00186,-0.02602,0.064668,0.014779,0.01547,0.005314,-0.009633,0.025127
45098,-0.062223,0.091803,0.004642,-0.042818,0.038234,-0.083787,0.060936,0.041277,-0.01445,-0.070185,...,0.048107,0.087058,0.066134,-0.038752,0.034488,-0.054178,0.048104,0.054579,-0.046339,0.017402
45099,-0.095685,0.102095,0.004847,0.012679,-0.037347,-0.109636,0.104485,0.00666,-0.023237,-0.089513,...,-0.00757,-0.03949,-0.006634,-0.057765,0.018908,-0.031137,0.082848,0.062369,-0.012129,0.044812

In [88]:
data=pd.concat([x_train,y_train],axis=1)

In [89]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,-0.004229,0.07256,0.094185,-0.031739,-0.046968,-0.048897,0.102303,0.0051,0.011732,-0.012308,...,0.027708,-0.006487,0.049705,0.048809,-0.000071,0.041365,0.071303,-0.113864,-0.041965,1
1,-0.084859,0.082512,0.069902,0.009472,-0.011829,-0.071796,0.122751,0.043924,-0.012692,-0.058138,...,0.047869,0.051019,0.038951,-0.012201,-0.072979,0.051206,0.046188,-0.056334,-0.000234,1
2,-0.048692,0.138109,0.102954,0.012868,-0.0034,-0.063885,0.103188,0.004811,-0.018599,-0.050638,...,0.00845,0.027614,-0.005515,0.007598,-0.058005,0.131728,0.102537,-0.053894,-0.004166,0
3,0.038173,0.041413,0.068678,0.00886,0.013012,0.006053,0.1121,0.042345,0.007682,-0.046472,...,0.060547,0.007125,0.055242,0.024385,0.015844,0.02856,-0.014318,-0.006316,-0.008973,1
4,0.046071,0.047331,0.06904,0.02538,-0.023195,-0.073314,0.006266,0.051248,-0.025088,-0.018768,...,0.03438,0.030323,0.034381,0.031245,-0.011916,0.076274,-0.015008,0.012064,0.040681,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45095,-0.003543,0.025515,-0.021004,-0.003035,-0.009767,-0.071697,-0.030056,0.095868,0.010581,-0.047459,...,0.038415,0.016813,-0.011563,0.032724,-0.025539,0.00155,-0.054191,-0.002923,0.015079,0
45096,-0.010104,0.065169,0.082837,0.05242,0.017148,-0.007504,0.157916,-0.029795,0.001347,-0.069736,...,0.092926,0.021515,0.072779,0.013796,-0.014541,0.049365,0.089767,0.052924,-0.07158,0
45097,0.011817,0.085869,0.028178,-0.022355,-0.018057,-0.075116,0.009861,0.065206,0.015294,-0.031599,...,0.031184,-0.00186,-0.02602,0.064668,0.014779,0.01547,0.005314,-0.009633,0.025127,1
45098,-0.062223,0.091803,0.004642,-0.042818,0.038234,-0.083787,0.060936,0.041277,-0.01445,-0.070185,...,0.087058,0.066134,-0.038752,0.034488,-0.054178,0.048104,0.054579,-0.046339,0.017402,0
45099,-0.095685,0.102095,0.004847,0.012679,-0.037347,-0.109636,0.104485,0.00666,-0.023237,-0.089513,...,-0.03949,-0.006634,-0.057765,0.018908,-0.031137,0.082848,0.062369,-0.012129,0.044812,0

In [90]:
data=data.sample(frac=1)

In [91]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
42295,-0.047089,0.063892,0.029231,-0.010113,-0.006478,-0.076092,0.099555,-0.001815,0.008044,-0.057395,...,-0.048174,0.008701,-0.011126,0.056443,0.023786,0.074422,0.072273,0.000286,-0.001965,1
3190,-0.055536,0.13856,0.006196,-0.017301,0.018906,-0.033579,0.09357,0.029771,-0.028367,-0.031059,...,0.056634,0.03582,0.001394,0.036563,-0.001339,0.048955,0.059002,-0.068693,-0.040135,1
40118,-0.029811,0.01097,0.123542,-0.005753,0.035553,0.000369,0.150513,-0.013701,0.043224,-0.047796,...,0.041866,0.077456,0.04957,-0.016544,0.028134,0.11993,0.078847,0.045365,-0.024858,0
30102,-0.062099,0.084755,0.060447,-0.022535,0.018325,-0.001904,0.120448,0.085908,-0.100444,-0.062563,...,0.003087,0.041487,-0.030792,-0.019727,0.030926,0.038755,0.084055,-0.051373,-0.034596,1
24082,0.049052,0.044712,-0.022597,-0.039976,-0.086668,-0.081158,0.060701,0.073576,-0.008297,-0.053323,...,-0.008109,-0.009057,-0.003918,0.028707,0.004766,-0.045225,0.034536,-0.008039,0.003858,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31613,-0.017996,0.081561,0.049061,-0.024363,-0.062396,-0.066412,0.043858,0.003921,-0.006983,0.011597,...,0.031472,0.006121,0.011798,0.087703,0.028996,0.102621,0.048586,-0.115112,0.028416,1
22795,-0.012324,0.092338,0.017695,-0.046255,0.005313,-0.036136,0.050817,-0.019606,-0.062418,0.012101,...,0.017938,0.014461,-0.015199,0.028363,-0.040143,0.071181,0.089119,-0.080809,0.027789,1
10408,-0.044434,0.051099,0.018821,-0.061765,-0.002669,-0.024412,0.153289,-0.004021,0.023836,-0.006379,...,0.006949,-0.046395,-0.052662,-0.03626,-0.038702,0.079753,0.034723,-0.034148,0.042189,0
42669,0.026813,0.061191,0.08323,-0.037458,-0.067816,-0.057853,0.070095,0.035106,0.000051,-0.003941,...,0.017808,-0.00395,0.033453,0.053071,-0.017053,0.038842,0.020965,-0.079598,0.02011,1
42255,-0.078083,0.068086,0.085566,-0.032933,-0.064185,-0.019818,0.106469,-0.009045,-0.00045,-0.022211,...,0.044883,-0.00537,0.037237,0.020618,0.000284,0.058568,0.067188,-0.085538,-0.059315,0

In [92]:
data.to_csv("train_data_after_vector(0408).csv")