In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/abnormal/voice_fishing_data_row.csv")

In [2]:
data_row.drop(columns=['Unnamed: 0'],inplace=True)

In [3]:
data_row

                                              sentence
0    지금 전화연락 드렸어요. 지금 통합 안녕하십니까? 네. 지금 본인 명의가 지금 도용...
1    여보세요? 없어요. 몇 가지 확인할 사항이 있어서 연락드린 건데요. 보시죠. 말씀하...
2    지난주 금요일 마포지역에서 김명철 두목으로 된 금융사기집단이 8 명을 검거했거든요 ...
3    그래요. 여보세요. 혹시 맞습니까? 저는 서울중앙지방검찰청이고요 신인 철수세번입니다...
4    국가가 없으시기 때문에 그 녹취로서 약식 조사를 할 건데 그리고 이게 휴대폰 아닙니...
..                                                 ...
183                                            여보세요. 네
184  지금 본인 명의가 지금 도용이 되셔가지고요 지금 대포통장금융상기범죄에 지금 연료가 ...
185  네 제가 지난 8 월에 금융범죄 불법 사기는 명목으로 김민수 일당을 검거하고 있어요...
186  여보세요? 여보세요. 간략하게 이제 지만 드릴게요. 그냥 일단은 검거가 되지 않았습...
187  업무보셨나요 해지하신 시간 말씀하시겠어요 한 십삼 시 십다시 한 말씀 해주세요 어떻...

[188 rows x 1 columns]

In [6]:
y=pd.DataFrame(index=range(0,data_row.shape[0]),columns=['predict'])

In [8]:
y=y.fillna(0)

In [9]:
y

     predict
0          0
1          0
2          0
3          0
4          0
..       ...
183        0
184        0
185        0
186        0
187        0

[188 rows x 1 columns]

In [11]:
data=pd.concat([data_row,y],axis=1)

In [12]:
data

                                              sentence  predict
0    지금 전화연락 드렸어요. 지금 통합 안녕하십니까? 네. 지금 본인 명의가 지금 도용...        0
1    여보세요? 없어요. 몇 가지 확인할 사항이 있어서 연락드린 건데요. 보시죠. 말씀하...        0
2    지난주 금요일 마포지역에서 김명철 두목으로 된 금융사기집단이 8 명을 검거했거든요 ...        0
3    그래요. 여보세요. 혹시 맞습니까? 저는 서울중앙지방검찰청이고요 신인 철수세번입니다...        0
4    국가가 없으시기 때문에 그 녹취로서 약식 조사를 할 건데 그리고 이게 휴대폰 아닙니...        0
..                                                 ...      ...
183                                            여보세요. 네        0
184  지금 본인 명의가 지금 도용이 되셔가지고요 지금 대포통장금융상기범죄에 지금 연료가 ...        0
185  네 제가 지난 8 월에 금융범죄 불법 사기는 명목으로 김민수 일당을 검거하고 있어요...        0
186  여보세요? 여보세요. 간략하게 이제 지만 드릴게요. 그냥 일단은 검거가 되지 않았습...        0
187  업무보셨나요 해지하신 시간 말씀하시겠어요 한 십삼 시 십다시 한 말씀 해주세요 어떻...        0

[188 rows x 2 columns]

In [18]:
import random

In [14]:
data2=pd.DataFrame(index=range(0,10000),columns=['sentence','predict'])

In [66]:
y=pd.DataFrame(index=range(0,data.shape[0]),columns=['predict'])

In [67]:
y=y.fillna(1)

In [68]:
y

       predict
0            1
1            1
2            1
3            1
4            1
...        ...
24562        1
24563        1
24564        1
24565        1
24566        1

[24567 rows x 1 columns]

In [69]:
data2=pd.concat([data['sentence'],y['predict']],axis=1)

In [15]:
data2

     sentence predict
0         NaN     NaN
1         NaN     NaN
2         NaN     NaN
3         NaN     NaN
4         NaN     NaN
...       ...     ...
9995      NaN     NaN
9996      NaN     NaN
9997      NaN     NaN
9998      NaN     NaN
9999      NaN     NaN

[10000 rows x 2 columns]

In [16]:
for i in range(data.shape[0]):
    data2.iloc[i,0]=data.iloc[i,0]
    data2.iloc[i,1]=data.iloc[i,1]

In [17]:
data2

                                               sentence predict
0     지금 전화연락 드렸어요. 지금 통합 안녕하십니까? 네. 지금 본인 명의가 지금 도용...       0
1     여보세요? 없어요. 몇 가지 확인할 사항이 있어서 연락드린 건데요. 보시죠. 말씀하...       0
2     지난주 금요일 마포지역에서 김명철 두목으로 된 금융사기집단이 8 명을 검거했거든요 ...       0
3     그래요. 여보세요. 혹시 맞습니까? 저는 서울중앙지방검찰청이고요 신인 철수세번입니다...       0
4     국가가 없으시기 때문에 그 녹취로서 약식 조사를 할 건데 그리고 이게 휴대폰 아닙니...       0
...                                                 ...     ...
9995                                                NaN     NaN
9996                                                NaN     NaN
9997                                                NaN     NaN
9998                                                NaN     NaN
9999                                                NaN     NaN

[10000 rows x 2 columns]

In [19]:
for i in range(data.shape[0]+1,data2.shape[0]):
    A=random.randrange(0,data.shape[0])
    data2.iloc[i,0]=data.iloc[A,0]
    data2.iloc[i,1]=data.iloc[A,1]

In [20]:
data2

                                               sentence predict
0     지금 전화연락 드렸어요. 지금 통합 안녕하십니까? 네. 지금 본인 명의가 지금 도용...       0
1     여보세요? 없어요. 몇 가지 확인할 사항이 있어서 연락드린 건데요. 보시죠. 말씀하...       0
2     지난주 금요일 마포지역에서 김명철 두목으로 된 금융사기집단이 8 명을 검거했거든요 ...       0
3     그래요. 여보세요. 혹시 맞습니까? 저는 서울중앙지방검찰청이고요 신인 철수세번입니다...       0
4     국가가 없으시기 때문에 그 녹취로서 약식 조사를 할 건데 그리고 이게 휴대폰 아닙니...       0
...                                                 ...     ...
9995  시월달부터. 또 현재까지 지금까지 수천만원의 불법 자금세탁을 해서 해외로 송출된 기...       0
9996  후보자들이 범죄가 변형이 되기 시작합니다. 즉 지능범죄로 바뀌게 되는데 3 차 피해...       0
9997  그렇습니까? 또 혹시 최근에 주민등록증이나 운전면허증 요건이 양도하거나 분실한 적이...       0
9998  말씀하세요 음성놓지 전하는 교사 3 자필 서명과 동일한 효력을 지니면 음성놓지 좀 ...       0
9999  여보세요. 여보세요 했어요. 얼마 하셨죠? 육백만원 천육백만원 시간 나와있죠 시간 ...       0

[10000 rows x 2 columns]

In [21]:
data2.to_csv("보이스 피싱.csv")