In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/abnormal/row/df_data_vishing.csv")

In [2]:
data_row.drop(columns=['Unnamed: 0'],inplace=True)

In [3]:
data_row

                                            transcript  confidence  label
0    예 고객님 담당자 김성도 대리입니다.\n예\n지금 법무사님이 두분 배정되셨어요.\n...         NaN      1
1    본인 성함 알겟습니다. 제가 첫번째는 이제 본인이 혹시라도 이제 깡통 계좌 발생으로...         NaN      1
2    6시 되가지고 전화 해봤습니다.\n예 예 그 앞전에 이면주 법무사님 영수증 확인되셨...         NaN      1
3    네 네 네 여보세요\n네 네\n어디에 계시는 겁니까 지금\n네?\n지금 어디 계시는...         NaN      1
4    네 여보세요.\n네 여보세요? 네 OOO 고객님 맞으시죠?\n네 맞아요.\n네 고객...         NaN      1
..                                                 ...         ...    ...
690  지금까지 사실확인서를 연락드렸습니다. 하고 있는데 이런 사건 때문에 내가 여쭤볼게 ...         NaN      1
691  연료 데이는 사건 때문에 연락 드렸는데 혹시 김명철씨 가십니까 모르시고 아는 사람도...         NaN      1
692  4장 4절 일어났습니까? 장소 잡고 님께서는 42세 남성 김동술 알고 계십니까? 아...         NaN      1
693  네\n네 여보세요\n뭐 어디세요?\n아 네 안녕하세요 저희 그 하나캐피탈에서 연락을...         NaN      1
694  통장명이 (삐-) 계좌 맞구요? 그리고 통장 발급 일은 2017년 3월 14일입니다...         NaN      1

[695 rows x 3 columns]

In [4]:
y=pd.DataFrame(index=range(0,data_row.shape[0]),columns=['predict'])

In [5]:
y=y.fillna(0)

/var/folders/gb/hslcbzfs0bvcnj3zxtfrxt_r0000gn/T/ipykernel_5110/1770252675.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  y=y.fillna(0)

In [6]:
y

     predict
0          0
1          0
2          0
3          0
4          0
..       ...
690        0
691        0
692        0
693        0
694        0

[695 rows x 1 columns]

In [7]:
data_row.rename(columns={'transcript':'sentence'},inplace=True)

In [8]:
data=pd.concat([data_row,y],axis=1)

In [10]:
data.drop(columns=['confidence','label'],inplace=True)

In [11]:
data

                                              sentence  predict
0    예 고객님 담당자 김성도 대리입니다.\n예\n지금 법무사님이 두분 배정되셨어요.\n...        0
1    본인 성함 알겟습니다. 제가 첫번째는 이제 본인이 혹시라도 이제 깡통 계좌 발생으로...        0
2    6시 되가지고 전화 해봤습니다.\n예 예 그 앞전에 이면주 법무사님 영수증 확인되셨...        0
3    네 네 네 여보세요\n네 네\n어디에 계시는 겁니까 지금\n네?\n지금 어디 계시는...        0
4    네 여보세요.\n네 여보세요? 네 OOO 고객님 맞으시죠?\n네 맞아요.\n네 고객...        0
..                                                 ...      ...
690  지금까지 사실확인서를 연락드렸습니다. 하고 있는데 이런 사건 때문에 내가 여쭤볼게 ...        0
691  연료 데이는 사건 때문에 연락 드렸는데 혹시 김명철씨 가십니까 모르시고 아는 사람도...        0
692  4장 4절 일어났습니까? 장소 잡고 님께서는 42세 남성 김동술 알고 계십니까? 아...        0
693  네\n네 여보세요\n뭐 어디세요?\n아 네 안녕하세요 저희 그 하나캐피탈에서 연락을...        0
694  통장명이 (삐-) 계좌 맞구요? 그리고 통장 발급 일은 2017년 3월 14일입니다...        0

[695 rows x 2 columns]

In [12]:
data.to_csv('abnormal_testdata.csv')

In [18]:
import random

In [14]:
data2=pd.DataFrame(index=range(0,10000),columns=['sentence','predict'])

In [66]:
y=pd.DataFrame(index=range(0,data.shape[0]),columns=['predict'])

In [67]:
y=y.fillna(1)

In [68]:
y

       predict
0            1
1            1
2            1
3            1
4            1
...        ...
24562        1
24563        1
24564        1
24565        1
24566        1

[24567 rows x 1 columns]

In [69]:
data2=pd.concat([data['sentence'],y['predict']],axis=1)

In [15]:
data2

     sentence predict
0         NaN     NaN
1         NaN     NaN
2         NaN     NaN
3         NaN     NaN
4         NaN     NaN
...       ...     ...
9995      NaN     NaN
9996      NaN     NaN
9997      NaN     NaN
9998      NaN     NaN
9999      NaN     NaN

[10000 rows x 2 columns]

In [16]:
for i in range(data.shape[0]):
    data2.iloc[i,0]=data.iloc[i,0]
    data2.iloc[i,1]=data.iloc[i,1]

In [17]:
data2

                                               sentence predict
0     지금 전화연락 드렸어요. 지금 통합 안녕하십니까? 네. 지금 본인 명의가 지금 도용...       0
1     여보세요? 없어요. 몇 가지 확인할 사항이 있어서 연락드린 건데요. 보시죠. 말씀하...       0
2     지난주 금요일 마포지역에서 김명철 두목으로 된 금융사기집단이 8 명을 검거했거든요 ...       0
3     그래요. 여보세요. 혹시 맞습니까? 저는 서울중앙지방검찰청이고요 신인 철수세번입니다...       0
4     국가가 없으시기 때문에 그 녹취로서 약식 조사를 할 건데 그리고 이게 휴대폰 아닙니...       0
...                                                 ...     ...
9995                                                NaN     NaN
9996                                                NaN     NaN
9997                                                NaN     NaN
9998                                                NaN     NaN
9999                                                NaN     NaN

[10000 rows x 2 columns]

In [19]:
for i in range(data.shape[0]+1,data2.shape[0]):
    A=random.randrange(0,data.shape[0])
    data2.iloc[i,0]=data.iloc[A,0]
    data2.iloc[i,1]=data.iloc[A,1]

In [20]:
data2

                                               sentence predict
0     지금 전화연락 드렸어요. 지금 통합 안녕하십니까? 네. 지금 본인 명의가 지금 도용...       0
1     여보세요? 없어요. 몇 가지 확인할 사항이 있어서 연락드린 건데요. 보시죠. 말씀하...       0
2     지난주 금요일 마포지역에서 김명철 두목으로 된 금융사기집단이 8 명을 검거했거든요 ...       0
3     그래요. 여보세요. 혹시 맞습니까? 저는 서울중앙지방검찰청이고요 신인 철수세번입니다...       0
4     국가가 없으시기 때문에 그 녹취로서 약식 조사를 할 건데 그리고 이게 휴대폰 아닙니...       0
...                                                 ...     ...
9995  시월달부터. 또 현재까지 지금까지 수천만원의 불법 자금세탁을 해서 해외로 송출된 기...       0
9996  후보자들이 범죄가 변형이 되기 시작합니다. 즉 지능범죄로 바뀌게 되는데 3 차 피해...       0
9997  그렇습니까? 또 혹시 최근에 주민등록증이나 운전면허증 요건이 양도하거나 분실한 적이...       0
9998  말씀하세요 음성놓지 전하는 교사 3 자필 서명과 동일한 효력을 지니면 음성놓지 좀 ...       0
9999  여보세요. 여보세요 했어요. 얼마 하셨죠? 육백만원 천육백만원 시간 나와있죠 시간 ...       0

[10000 rows x 2 columns]

In [21]:
data2.to_csv("보이스 피싱.csv")