In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/normal/row/df_data_unharmful.csv")

In [2]:
data_row.drop(columns=['Unnamed: 0'],inplace=True)
#data_row2.drop(columns=['Unnamed: 0'],inplace=True)

In [3]:
data_row

                                             transcript  confidence  label
0     저는 여행 다니는 것을 굉장히 좋아하는데요. 그래가지고 스페인이나 뭐 영국 유럽 아...         NaN      0
1     반려동물을 키우고 계신가요? 혹시 안 키우고 계시다면은 어떤 반려동물을 한번 키워보...         NaN      0
2      씨는 주로 어떤 음식 좋아하시나요? 저는 근데 가리는 게 거의 없어서 대부분 다 ...         NaN      0
3      씨는 반려동물 어~ 좋 뭐 어떤 동물 좋아하세요? 저는 고양이를 정말 좋아하는데요...         NaN      0
4     가장 좋아하는 음식이 무엇인가요? 저는 주로 먹는 거를 좋아해서 음식을 가리지 않고...         NaN      0
...                                                 ...         ...    ...
2227  요새 먹거리에 대해 코로나 때문에 그런지 더 관심이 많아지는 거 같아요. 특히 집에...         NaN      0
2228  어~ 중학생 때부터 좋아하던 배우가 있는데 어~ 이제 요즘 영화나 드라마 같은 데는...         NaN      0
2229  오늘은 꿈에 대해서 한번 이야기를 나눠 보았으면 좋겠어요. 음~ 나는 어렸을 때부터...         NaN      0
2230  저는 여러 계절이 있지만 겨울 이라는 계절을 제일 좋아하는데요. 가장 큰 이유 중의...         NaN      0
2231  저는 학교를 졸업한 지 오래되어서 어~ 기억이 쪼금 먼 기리 멀기는 하지만 어~ 저...         NaN      0

[2232 rows x 3 columns]

In [4]:
data_row.rename(columns={'transcript':'sentence'},inplace=True)

In [5]:
data_row

                                               sentence  confidence  label
0     저는 여행 다니는 것을 굉장히 좋아하는데요. 그래가지고 스페인이나 뭐 영국 유럽 아...         NaN      0
1     반려동물을 키우고 계신가요? 혹시 안 키우고 계시다면은 어떤 반려동물을 한번 키워보...         NaN      0
2      씨는 주로 어떤 음식 좋아하시나요? 저는 근데 가리는 게 거의 없어서 대부분 다 ...         NaN      0
3      씨는 반려동물 어~ 좋 뭐 어떤 동물 좋아하세요? 저는 고양이를 정말 좋아하는데요...         NaN      0
4     가장 좋아하는 음식이 무엇인가요? 저는 주로 먹는 거를 좋아해서 음식을 가리지 않고...         NaN      0
...                                                 ...         ...    ...
2227  요새 먹거리에 대해 코로나 때문에 그런지 더 관심이 많아지는 거 같아요. 특히 집에...         NaN      0
2228  어~ 중학생 때부터 좋아하던 배우가 있는데 어~ 이제 요즘 영화나 드라마 같은 데는...         NaN      0
2229  오늘은 꿈에 대해서 한번 이야기를 나눠 보았으면 좋겠어요. 음~ 나는 어렸을 때부터...         NaN      0
2230  저는 여러 계절이 있지만 겨울 이라는 계절을 제일 좋아하는데요. 가장 큰 이유 중의...         NaN      0
2231  저는 학교를 졸업한 지 오래되어서 어~ 기억이 쪼금 먼 기리 멀기는 하지만 어~ 저...         NaN      0

[2232 rows x 3 columns]

In [10]:
data=pd.DataFrame(index=range(0,data_row.shape[0]),columns=['sentence'])

In [11]:
data

     sentence
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
2227      NaN
2228      NaN
2229      NaN
2230      NaN
2231      NaN

[2232 rows x 1 columns]

In [12]:

for i in range(data_row.shape[0]):
    data.iloc[i,0]=data_row.iloc[i,0]

In [13]:
data

                                               sentence
0     저는 여행 다니는 것을 굉장히 좋아하는데요. 그래가지고 스페인이나 뭐 영국 유럽 아...
1     반려동물을 키우고 계신가요? 혹시 안 키우고 계시다면은 어떤 반려동물을 한번 키워보...
2      씨는 주로 어떤 음식 좋아하시나요? 저는 근데 가리는 게 거의 없어서 대부분 다 ...
3      씨는 반려동물 어~ 좋 뭐 어떤 동물 좋아하세요? 저는 고양이를 정말 좋아하는데요...
4     가장 좋아하는 음식이 무엇인가요? 저는 주로 먹는 거를 좋아해서 음식을 가리지 않고...
...                                                 ...
2227  요새 먹거리에 대해 코로나 때문에 그런지 더 관심이 많아지는 거 같아요. 특히 집에...
2228  어~ 중학생 때부터 좋아하던 배우가 있는데 어~ 이제 요즘 영화나 드라마 같은 데는...
2229  오늘은 꿈에 대해서 한번 이야기를 나눠 보았으면 좋겠어요. 음~ 나는 어렸을 때부터...
2230  저는 여러 계절이 있지만 겨울 이라는 계절을 제일 좋아하는데요. 가장 큰 이유 중의...
2231  저는 학교를 졸업한 지 오래되어서 어~ 기억이 쪼금 먼 기리 멀기는 하지만 어~ 저...

[2232 rows x 1 columns]

In [64]:
j=0
for i in range(data_row1.shape[0]+1,data.shape[0]):
    data.iloc[i,0]=data_row2.iloc[j,0]
    j=j+1

In [65]:
data

                                  sentence
0           이용하시는 은행의 사이트에서 지방세 납부가 가능합니다.
1      그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능합니다.
2                             방문납부도 가능합니다.
3                  도보로 10분위치에 서울역지점이 있습니다.
4                      도보로 가시는게 빠를 것 같습니다.
...                                    ...
24562                   추가적으로 필요하신거 있으신가요?
24563                      서울시에서 진행하는 건가요?
24564                         어떠점이 궁금하십니까?
24565  공연, 체험, 전시, 기타 등이 있는데 어느걸로 안내해드릴까요?
24566             네. 혼인신고의 어떤 내용을 알고싶으신가요?

[24567 rows x 1 columns]

In [14]:
y=pd.DataFrame(index=range(0,data.shape[0]),columns=['predict'])

In [15]:
y=y.fillna(1)

/var/folders/gb/hslcbzfs0bvcnj3zxtfrxt_r0000gn/T/ipykernel_4940/1366042457.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  y=y.fillna(1)

In [16]:
y

      predict
0           1
1           1
2           1
3           1
4           1
...       ...
2227        1
2228        1
2229        1
2230        1
2231        1

[2232 rows x 1 columns]

In [17]:
data2=pd.concat([data['sentence'],y['predict']],axis=1)

In [18]:
data2

                                               sentence  predict
0     저는 여행 다니는 것을 굉장히 좋아하는데요. 그래가지고 스페인이나 뭐 영국 유럽 아...        1
1     반려동물을 키우고 계신가요? 혹시 안 키우고 계시다면은 어떤 반려동물을 한번 키워보...        1
2      씨는 주로 어떤 음식 좋아하시나요? 저는 근데 가리는 게 거의 없어서 대부분 다 ...        1
3      씨는 반려동물 어~ 좋 뭐 어떤 동물 좋아하세요? 저는 고양이를 정말 좋아하는데요...        1
4     가장 좋아하는 음식이 무엇인가요? 저는 주로 먹는 거를 좋아해서 음식을 가리지 않고...        1
...                                                 ...      ...
2227  요새 먹거리에 대해 코로나 때문에 그런지 더 관심이 많아지는 거 같아요. 특히 집에...        1
2228  어~ 중학생 때부터 좋아하던 배우가 있는데 어~ 이제 요즘 영화나 드라마 같은 데는...        1
2229  오늘은 꿈에 대해서 한번 이야기를 나눠 보았으면 좋겠어요. 음~ 나는 어렸을 때부터...        1
2230  저는 여러 계절이 있지만 겨울 이라는 계절을 제일 좋아하는데요. 가장 큰 이유 중의...        1
2231  저는 학교를 졸업한 지 오래되어서 어~ 기억이 쪼금 먼 기리 멀기는 하지만 어~ 저...        1

[2232 rows x 2 columns]

In [19]:
data2.to_csv("normal_testdata.csv")