In [16]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/No fishing/row/df_data_unharmful.csv")

In [17]:
data_row.drop(columns=['Unnamed: 0'],inplace=True)
#data_row2.drop(columns=['Unnamed: 0'],inplace=True)

In [18]:
data_row

                                             transcript  confidence  label
0     저는 여행 다니는 것을 굉장히 좋아하는데요. 그래가지고 스페인이나 뭐 영국 유럽 아...         NaN      0
1     반려동물을 키우고 계신가요? 혹시 안 키우고 계시다면은 어떤 반려동물을 한번 키워보...         NaN      0
2      씨는 주로 어떤 음식 좋아하시나요? 저는 근데 가리는 게 거의 없어서 대부분 다 ...         NaN      0
3      씨는 반려동물 어~ 좋 뭐 어떤 동물 좋아하세요? 저는 고양이를 정말 좋아하는데요...         NaN      0
4     가장 좋아하는 음식이 무엇인가요? 저는 주로 먹는 거를 좋아해서 음식을 가리지 않고...         NaN      0
...                                                 ...         ...    ...
2227  요새 먹거리에 대해 코로나 때문에 그런지 더 관심이 많아지는 거 같아요. 특히 집에...         NaN      0
2228  어~ 중학생 때부터 좋아하던 배우가 있는데 어~ 이제 요즘 영화나 드라마 같은 데는...         NaN      0
2229  오늘은 꿈에 대해서 한번 이야기를 나눠 보았으면 좋겠어요. 음~ 나는 어렸을 때부터...         NaN      0
2230  저는 여러 계절이 있지만 겨울 이라는 계절을 제일 좋아하는데요. 가장 큰 이유 중의...         NaN      0
2231  저는 학교를 졸업한 지 오래되어서 어~ 기억이 쪼금 먼 기리 멀기는 하지만 어~ 저...         NaN      0

[2232 rows x 3 columns]

In [19]:
data_row.rename(columns={'transcript':'sentence'},inplace=True)

In [20]:
data_row

                                               sentence  confidence  label
0     저는 여행 다니는 것을 굉장히 좋아하는데요. 그래가지고 스페인이나 뭐 영국 유럽 아...         NaN      0
1     반려동물을 키우고 계신가요? 혹시 안 키우고 계시다면은 어떤 반려동물을 한번 키워보...         NaN      0
2      씨는 주로 어떤 음식 좋아하시나요? 저는 근데 가리는 게 거의 없어서 대부분 다 ...         NaN      0
3      씨는 반려동물 어~ 좋 뭐 어떤 동물 좋아하세요? 저는 고양이를 정말 좋아하는데요...         NaN      0
4     가장 좋아하는 음식이 무엇인가요? 저는 주로 먹는 거를 좋아해서 음식을 가리지 않고...         NaN      0
...                                                 ...         ...    ...
2227  요새 먹거리에 대해 코로나 때문에 그런지 더 관심이 많아지는 거 같아요. 특히 집에...         NaN      0
2228  어~ 중학생 때부터 좋아하던 배우가 있는데 어~ 이제 요즘 영화나 드라마 같은 데는...         NaN      0
2229  오늘은 꿈에 대해서 한번 이야기를 나눠 보았으면 좋겠어요. 음~ 나는 어렸을 때부터...         NaN      0
2230  저는 여러 계절이 있지만 겨울 이라는 계절을 제일 좋아하는데요. 가장 큰 이유 중의...         NaN      0
2231  저는 학교를 졸업한 지 오래되어서 어~ 기억이 쪼금 먼 기리 멀기는 하지만 어~ 저...         NaN      0

[2232 rows x 3 columns]

In [21]:
data_row.drop(columns=['confidence','label'],inplace=True)

In [22]:
data_row

                                               sentence
0     저는 여행 다니는 것을 굉장히 좋아하는데요. 그래가지고 스페인이나 뭐 영국 유럽 아...
1     반려동물을 키우고 계신가요? 혹시 안 키우고 계시다면은 어떤 반려동물을 한번 키워보...
2      씨는 주로 어떤 음식 좋아하시나요? 저는 근데 가리는 게 거의 없어서 대부분 다 ...
3      씨는 반려동물 어~ 좋 뭐 어떤 동물 좋아하세요? 저는 고양이를 정말 좋아하는데요...
4     가장 좋아하는 음식이 무엇인가요? 저는 주로 먹는 거를 좋아해서 음식을 가리지 않고...
...                                                 ...
2227  요새 먹거리에 대해 코로나 때문에 그런지 더 관심이 많아지는 거 같아요. 특히 집에...
2228  어~ 중학생 때부터 좋아하던 배우가 있는데 어~ 이제 요즘 영화나 드라마 같은 데는...
2229  오늘은 꿈에 대해서 한번 이야기를 나눠 보았으면 좋겠어요. 음~ 나는 어렸을 때부터...
2230  저는 여러 계절이 있지만 겨울 이라는 계절을 제일 좋아하는데요. 가장 큰 이유 중의...
2231  저는 학교를 졸업한 지 오래되어서 어~ 기억이 쪼금 먼 기리 멀기는 하지만 어~ 저...

[2232 rows x 1 columns]

In [23]:
data=pd.DataFrame(data_row['sentence'].str.split('.').tolist())

In [25]:
data3=pd.DataFrame(data.fillna('0'))

In [26]:
count=0
for i in range(data3.shape[0]):
    for j in range(data3.shape[1]):
        if data3.iloc[i,j]!='0':
            count=count+1

In [27]:
y=pd.DataFrame(index=range(count),columns=['sentence'])

In [28]:
y.shape

(155748, 1)

In [29]:
num=0
for i in range(data3.shape[0]):
    for j in range(data3.shape[1]):
        if data3.iloc[i,j]!='0':
            y.iloc[num,0]=data3.iloc[i,j]
            num=num+1

In [30]:
y

                                                 sentence
0                                 저는 여행 다니는 것을 굉장히 좋아하는데요
1        그래가지고 스페인이나 뭐 영국 유럽 아니면 국내에서도 뭐 강릉이나 전주 같은 데를...
2        제가 고등학교 때는 여행에 대해 흥미가 없었는데 그게 좀 아버지가 짠대로 패키지처...
3        그래서 대학교 간 이후로는 해외여행을 되게 많이 갔었는데 그중에서 제일 기 좋았던...
4                어~ 혹시 포르투갈이나 스페인 유럽 쪽 다녀오신 적 있으신가요? 어~ 네
...                                                   ...
155743   어~ 어~ 그냥 저의 전공 쪽으로 어~ 열심히 지냈던 그런 기억이 나고 어~ 특별...
155744   이제 뭐 오케스트라를 들으면 아~ 뭐 이런 그런 그~ 음악을 들으면 사실은 조금 ...
155745   어~ 뭐 오보에면 오보에 에~ 플루트면 플루트 바이올린이면 바 바이올린 이제 친구...
155746   그래서 한 3학년이나 4학년 됐을 때는 어~ 오케스트라의 연주를 들으면 또 완성된...
155747   그래서 어~ 이렇게 4년 동안 같이 인제 지나면서 어~ 동아리 활동이나 이런 거는...

[155748 rows x 1 columns]

In [32]:
data=pd.DataFrame(index=range(y.shape[0]),columns=['predict'])

In [33]:
data=data.fillna('0')

In [34]:
data

       predict
0            0
1            0
2            0
3            0
4            0
...        ...
155743       0
155744       0
155745       0
155746       0
155747       0

[155748 rows x 1 columns]

In [35]:
norm=pd.concat([y,data],axis=1)

In [36]:
norm

                                                 sentence predict
0                                 저는 여행 다니는 것을 굉장히 좋아하는데요       0
1        그래가지고 스페인이나 뭐 영국 유럽 아니면 국내에서도 뭐 강릉이나 전주 같은 데를...       0
2        제가 고등학교 때는 여행에 대해 흥미가 없었는데 그게 좀 아버지가 짠대로 패키지처...       0
3        그래서 대학교 간 이후로는 해외여행을 되게 많이 갔었는데 그중에서 제일 기 좋았던...       0
4                어~ 혹시 포르투갈이나 스페인 유럽 쪽 다녀오신 적 있으신가요? 어~ 네       0
...                                                   ...     ...
155743   어~ 어~ 그냥 저의 전공 쪽으로 어~ 열심히 지냈던 그런 기억이 나고 어~ 특별...       0
155744   이제 뭐 오케스트라를 들으면 아~ 뭐 이런 그런 그~ 음악을 들으면 사실은 조금 ...       0
155745   어~ 뭐 오보에면 오보에 에~ 플루트면 플루트 바이올린이면 바 바이올린 이제 친구...       0
155746   그래서 한 3학년이나 4학년 됐을 때는 어~ 오케스트라의 연주를 들으면 또 완성된...       0
155747   그래서 어~ 이렇게 4년 동안 같이 인제 지나면서 어~ 동아리 활동이나 이런 거는...       0

[155748 rows x 2 columns]

In [37]:
data=norm.sample(frac=1)

In [38]:
data

                                                 sentence predict
135346   이게 어~ 어떤 사람이 이제 다른 사람을 이랑 똑같은 모습을 하고 이제 악마의 짓...       0
138424   그래서 고등학교 나 뭐 대학교 그런 수업은 어떻게 하는지 경영 학과는 뭐 어떤 거...       0
37489                               이~ 북한과 우리는 아예 조금 틀리잖아       0
84497     근데 보면 볼수록 맨 마지막에 티브이에서 봤는데 그때는 그렇게 감명 깊지가 않은 거야       0
91531                                이게 저는 이게 잘못됐다고 생각합니다       0
...                                                   ...     ...
75474                                    어~ 뱀장어구이 또 가끔 먹고       0
146161   근데 조금 너는 조금 꿀알바 말고 아~ 꿀알바긴 하지만 조금 도움 되는 거 많이 ...       0
43639                     나한테 보라카이 말고 추천해주고 싶은 해외 여행지 있어?       0
75378          그 몇 년을 지났는데 그 내용 증명을 띄운 그 자 자체가 너무 괘씸한 거예요       0
18345    그때 왜 여자 직원만 뽑았냐로 말하니까 그 전에 직원 뽑았던 남자들이 이렇게 되게...       0

[155748 rows x 2 columns]

In [39]:
test_data=pd.DataFrame(data.iloc[:300])

In [40]:
train_data=pd.DataFrame(index=range(25000),columns=['sentence','predict'])

In [42]:
import random

for i in range(train_data.shape[0]):
    A=random.randrange(301,155748)
    train_data.iloc[i,0]=norm.iloc[A,0]
    train_data.iloc[i,1]=norm.iloc[A,1]

In [43]:
train_data.shape

(25000, 2)

In [44]:
train_data.to_csv("No fishing_train.csv")
test_data.to_csv("No fishing_test.csv")