In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0518(final)/test/test data(0).csv",index_col=0)

In [2]:
data_row

                                                sentence  predict
890     네 그냥. 똑같이 뭐 그렇게 까지밖에 안해주던데. 그러니까 오만원권 이천. 네 그...        2
608                 예 그럼 바로 해주세요 바로 위임 처리로 진행을 도와드릴까요? 예        1
1304                                   네 천팔백에 네 칠 구사하나구요        2
1107    그 분도 그렇죠. 아까도 제가 말씀 말씀 했듯이 이 통장이 대포 통장 사용되었다고...        2
5726                     다자녀 3인이상이면 취득세 감면혜택을 받으실수 있습니다.        0
...                                                  ...      ...
5281           각 공연마다 요금이 상이하니 홈페이지에서 예약시 확인하여 주시기 바랍니다.        0
9826                                 www.OOOO.go.kr 입니다.        0
742     그 금융 감독원에서 어차피 조사를 할 거니까 본인께서 하셔도 괜찮은 거고. 잠시 ...        2
18964         지역마다 다르지만 일부 지역에서는 신청자가 몰려 대기아동이 발생하고 있습니다        0
4427                                         연정기권은 없습닌다.        0

[300 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    0
predict     0
dtype: int64

In [4]:
data_row=data_row.dropna()

In [5]:
data=data_row.sample(frac=1)

In [6]:
data

                                                sentence  predict
17680              도움이 되셨다면 다행입니다. 또 모르는게 있으면 언제든 말씀해세요.        0
467     기본적인 예의는 갖추고 얘기를 해야 될 거 아니에요. 죄송합니다. 한 뭐 두가지 ...        2
939     왜 또. 왜요? 피해자 :\u3000나와서 넣으라고요? 아니면 거기서 빠르게 넣던...        2
14310                           네. 어풀로 계좌 충전 후 사용하셔야됩니다.        0
5263            지원대상여부를 확인 한 후에 지급결정이 되므로 바로 지급은 불가능합니다.        0
...                                                  ...      ...
8582                              가까운 주민센터에서 신청하실 수 있습니다        0
5281           각 공연마다 요금이 상이하니 홈페이지에서 예약시 확인하여 주시기 바랍니다.        0
5271                       올해는 코로나로 인하여 온라인으로 야시장이 개장됩니다        0
6364   페트병은 물로 깨끗하게 행군후 라벨지를 제거하고 압착하여 뚜껑을 닫아 음료,생수용무...        0
1359    아 잠깐만요. 그러면은 지금 바로 그냥 진행을 도와드려 볼게요. 울산 지금 실제 ...        1

[300 rows x 2 columns]

In [7]:
data.to_csv("test_data_before_vector(0).csv")

In [8]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer("sentence-transformers/all-MiniLM-L6-v2")

In [9]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [10]:
A=model.encode(data.iloc[0,0])

In [11]:
A.shape[0]

384

In [12]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [13]:
x_test=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [14]:
x_test.shape

(300, 384)

In [15]:

y_test=pd.DataFrame(index=range(0,x_test.shape[0]),columns=['predict'])

In [16]:

x_test

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
y_test

    predict
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
295     NaN
296     NaN
297     NaN
298     NaN
299     NaN

[300 rows x 1 columns]

In [18]:
for i in range(data.shape[0]):
    y_test.iloc[i,0]=data.iloc[i,1]

In [19]:
y_test

    predict
0         0
1         2
2         2
3         0
4         0
..      ...
295       0
296       0
297       0
298       0
299       1

[300 rows x 1 columns]

In [20]:
y_test.isnull().sum()

predict    0
dtype: int64

In [21]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_test.shape[1]):
        x_test.iloc[i,j]=vector[j]

In [22]:
x_test

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,0.017613,0.049424,0.081157,-0.006111,-0.052529,-0.042708,0.109239,0.012219,0.021697,-0.034959,...,0.003645,0.010665,-0.00391,0.03905,0.023492,0.014637,0.043658,0.088307,-0.060634,-0.031351
1,0.00249,0.034828,0.104894,-0.019558,-0.070821,-0.088298,0.069411,0.038364,0.032185,-0.014584,...,-0.038077,0.04524,0.013196,0.04708,0.051842,-0.01305,0.098646,0.074906,-0.033565,0.006827
2,-0.014958,0.046747,0.061939,-0.020844,-0.00039,-0.051554,0.088606,0.00083,-0.000762,-0.011591,...,-0.02141,-0.014107,-0.013928,0.04303,-0.021243,-0.014195,0.129848,0.072924,-0.103074,-0.023491
3,-0.024188,0.068619,0.01282,-0.039113,0.01052,-0.046928,0.070523,0.080797,-0.011701,-0.066081,...,-0.029394,0.014687,-0.001942,-0.024887,0.0227,-0.066799,0.025435,0.048003,-0.041834,0.110987
4,0.003112,0.08913,0.020561,-0.02353,-0.080659,-0.085046,0.019257,0.031656,-0.044842,0.016278,...,0.046308,0.001612,0.026937,0.020647,0.059707,-0.002576,0.05288,0.022451,-0.081502,0.026103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.002405,0.087904,0.000364,-0.047624,0.018127,-0.049675,0.04144,0.079383,-0.024475,-0.050654,...,0.036803,0.041552,0.011274,-0.020385,0.058494,0.025434,0.017548,0.002637,-0.005273,0.030406
296,0.002968,0.082603,0.089669,-0.003281,-0.067339,-0.07427,0.096692,0.016617,-0.023896,0.010121,...,0.036331,0.032296,-0.019384,0.042605,0.046123,0.002861,0.094038,0.091407,-0.135085,-0.030128
297,-0.004811,0.03747,0.085461,-0.045125,-0.006291,-0.02245,0.124637,0.004829,0.033139,-0.016336,...,0.051326,0.015976,0.024098,0.044262,0.029554,0.054198,0.027056,0.068536,-0.046032,0.010887
298,0.034156,0.056518,0.026807,-0.041407,-0.056488,-0.080774,-0.047613,0.090818,-0.013775,-0.037081,...,0.012385,0.044644,0.002551,-0.007585,0.054545,-0.011629,-0.027079,-0.005677,-0.027607,0.043046
299,0.045626,0.110855,0.041161,-0.034397,-0.011657,-0.07863,0.090544,0.063195,-0.033385,-0.035508,...,0.035322,0.044352,0.02161,-0.000753,0.00896,-0.013039,0.04953,0.049859,-0.057527,-0.006656

In [23]:
data=pd.concat([x_test,y_test],axis=1)

In [24]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,0.017613,0.049424,0.081157,-0.006111,-0.052529,-0.042708,0.109239,0.012219,0.021697,-0.034959,...,0.010665,-0.00391,0.03905,0.023492,0.014637,0.043658,0.088307,-0.060634,-0.031351,0
1,0.00249,0.034828,0.104894,-0.019558,-0.070821,-0.088298,0.069411,0.038364,0.032185,-0.014584,...,0.04524,0.013196,0.04708,0.051842,-0.01305,0.098646,0.074906,-0.033565,0.006827,2
2,-0.014958,0.046747,0.061939,-0.020844,-0.00039,-0.051554,0.088606,0.00083,-0.000762,-0.011591,...,-0.014107,-0.013928,0.04303,-0.021243,-0.014195,0.129848,0.072924,-0.103074,-0.023491,2
3,-0.024188,0.068619,0.01282,-0.039113,0.01052,-0.046928,0.070523,0.080797,-0.011701,-0.066081,...,0.014687,-0.001942,-0.024887,0.0227,-0.066799,0.025435,0.048003,-0.041834,0.110987,0
4,0.003112,0.08913,0.020561,-0.02353,-0.080659,-0.085046,0.019257,0.031656,-0.044842,0.016278,...,0.001612,0.026937,0.020647,0.059707,-0.002576,0.05288,0.022451,-0.081502,0.026103,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.002405,0.087904,0.000364,-0.047624,0.018127,-0.049675,0.04144,0.079383,-0.024475,-0.050654,...,0.041552,0.011274,-0.020385,0.058494,0.025434,0.017548,0.002637,-0.005273,0.030406,0
296,0.002968,0.082603,0.089669,-0.003281,-0.067339,-0.07427,0.096692,0.016617,-0.023896,0.010121,...,0.032296,-0.019384,0.042605,0.046123,0.002861,0.094038,0.091407,-0.135085,-0.030128,0
297,-0.004811,0.03747,0.085461,-0.045125,-0.006291,-0.02245,0.124637,0.004829,0.033139,-0.016336,...,0.015976,0.024098,0.044262,0.029554,0.054198,0.027056,0.068536,-0.046032,0.010887,0
298,0.034156,0.056518,0.026807,-0.041407,-0.056488,-0.080774,-0.047613,0.090818,-0.013775,-0.037081,...,0.044644,0.002551,-0.007585,0.054545,-0.011629,-0.027079,-0.005677,-0.027607,0.043046,0
299,0.045626,0.110855,0.041161,-0.034397,-0.011657,-0.07863,0.090544,0.063195,-0.033385,-0.035508,...,0.044352,0.02161,-0.000753,0.00896,-0.013039,0.04953,0.049859,-0.057527,-0.006656,1

In [25]:
data=data.sample(frac=1)

In [26]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
49,0.012487,0.062266,0.060731,-0.047233,-0.006752,-0.02792,0.138384,0.060706,-0.010959,-0.031408,...,0.059933,0.006075,-0.007835,0.014463,-0.031619,0.018162,0.091674,-0.108266,-0.065654,1
134,-0.003105,0.059618,0.037806,-0.018726,-0.076038,-0.07102,0.106628,0.024796,-0.023715,-0.037142,...,-0.026668,-0.022593,0.012136,0.025423,0.002186,0.038654,0.062453,-0.058358,0.008556,2
243,0.002969,0.066702,0.11182,-0.03711,0.012371,-0.040933,0.1421,0.029202,0.005231,-0.045302,...,0.009946,0.000199,0.054901,0.046084,-0.024866,0.021136,0.05403,-0.076973,-0.016893,2
166,-0.00073,0.018453,0.077435,-0.035765,-0.077877,-0.007329,0.095097,0.03986,-0.039575,0.088304,...,0.006774,-0.011292,0.005358,-0.024299,0.029562,0.070633,0.060703,-0.043033,-0.080333,0
249,0.020006,0.076524,0.024081,-0.044952,-0.038965,-0.051248,0.038783,0.044938,-0.027098,-0.020051,...,0.020773,-0.01223,-0.01449,0.053984,0.028647,-0.02283,0.002018,-0.075492,0.020643,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,-0.033095,0.041121,-0.012719,-0.037541,-0.01113,-0.016903,0.068527,-0.007055,-0.011623,-0.022948,...,0.06474,0.038537,-0.07811,0.113228,-0.062849,0.033057,0.078295,-0.045387,0.0529,0
59,0.019486,0.031921,0.00278,-0.030533,-0.064198,-0.019054,0.050013,0.053294,-0.016387,-0.031522,...,0.090074,-0.035347,-0.002462,0.019407,-0.012798,-0.013673,-0.02466,-0.07204,0.021512,2
285,-0.004565,0.051267,0.114638,-0.025176,-0.047281,-0.020958,0.073419,0.006721,0.03338,-0.004089,...,0.050053,-0.004919,0.058858,0.106888,0.030721,0.063215,0.039827,-0.078094,-0.055069,0
9,0.037385,0.040659,0.065905,-0.011299,0.036811,-0.029083,0.107614,0.033432,-0.049668,-0.026377,...,0.023571,-0.002856,0.018509,-0.008491,-0.02044,0.047829,0.110317,-0.066591,-0.060261,0
245,0.032839,0.050095,0.094098,-0.02415,-0.062433,-0.037607,0.114365,0.037358,-0.049918,0.05413,...,-0.015637,0.004994,0.064255,-0.064238,-0.004085,0.113254,0.05586,-0.067407,-0.024257,1

In [27]:
data.to_csv("test_data_after_vector(0).csv")