In [1]:
import pandas as pd

data_row=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0518(final)/test/test data.csv",index_col=0)

In [2]:
data_row

                                                sentence  predict
8686                                           네, 맞습니다.         0
4399                                 없으시면 회원가입 하시면 됩니다.         0
2984                                 네 바리스타 강좌 말씀하시는 거죠?        0
833     근데 뭐 대출 나왔으면은 이거는 선생님이 찾을 수 있는 금액은 백만원밖에 안 된다...        2
3158    팔십 몇 만 원 하면 제가 100만 원 기재를 해드리는거에요. 100만 원 선에서...        2
...                                                  ...      ...
19445                                      아니요. 불가능하십니다~        0
1285       통화 중에 아 예 아 잠깐만요. 그러면은 지금 바로 그냥 진행을 도와드려 볼게요.        1
19130                                  네 잠시 파악할 시간을 주세요.        0
540     아 보자 일단 사업자 등록증하고 주민등록증. 다른거 필요한 건 없나요? 뭐 추가적...        1
921     어차피 입증 받을려면 그러니까 그 일단 6000만원 지금 본인 그 주머니에 있죠?...        2

[300 rows x 2 columns]

In [3]:
data_row.isnull().sum()

sentence    1
predict     0
dtype: int64

In [4]:
data_row=data_row.dropna()

In [5]:
data=data_row.sample(frac=1)

In [6]:
data

                                                sentence  predict
2989    모르시는 분이세요? 네 아 이 분이 전라도 광주 태생에다가 42세 남성분이신데 뭐...        2
955        아 네 알겠습니다 그 바로 연락 한번 좀 부탁드릴게요 알겠습니다여보세요 네   님        1
19382                              네, 모든 주민센터에서 하시면 됩니다~        0
404                           여보세요 네 적금 먼저 말씀 드려야 되나요? 네        2
18999                           네 전화번호는 OO-OOO-OOOO 입니다.        0
...                                                  ...      ...
2494    강수철 조직원이라고 가정을 해봤을 때 검찰에서 나를 검거하기 위해 조사를 진행 중...        2
2870       네  네 아 수고 많으십니다 여기는 서울 중앙 지검 수사1팀에 구일만 수사관인데요        2
252                          같이 찍어도 되냐고요? 올려놓고? 예 아 예 예.        1
6086             네, 먼저 매달 양육비를 자녀 1명당 13만원 지원받으실 수 있습니다.        0
278                                        어떤 물건 말씀하시나요?        0

[299 rows x 2 columns]

In [7]:
data.to_csv("test_data_before_vector(0).csv")

In [8]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/all-MiniLM-L12-v2')

In [9]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [10]:
A=model.encode(data.iloc[0,0])

In [11]:
A.shape[0]

384

In [12]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [13]:
x_test=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [14]:
x_test.shape

(299, 384)

In [15]:

y_test=pd.DataFrame(index=range(0,x_test.shape[0]),columns=['predict'])

In [16]:

x_test

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
y_test

    predict
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
294     NaN
295     NaN
296     NaN
297     NaN
298     NaN

[299 rows x 1 columns]

In [18]:
for i in range(data.shape[0]):
    y_test.iloc[i,0]=data.iloc[i,1]

In [19]:
y_test

    predict
0         2
1         1
2         0
3         2
4         0
..      ...
294       2
295       2
296       1
297       0
298       0

[299 rows x 1 columns]

In [20]:
y_test.isnull().sum()

predict    0
dtype: int64

In [21]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_test.shape[1]):
        x_test.iloc[i,j]=vector[j]

In [22]:
x_test

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,0.093517,0.108124,0.039941,0.057943,-0.003973,-0.034288,0.083808,0.012737,-0.090333,-0.017536,...,0.036314,0.048195,0.038083,0.074667,-0.050703,0.06053,-0.020911,0.037261,-0.087543,-0.00783
1,0.056471,0.156534,0.061109,-0.00013,-0.008868,-0.081706,0.12524,-0.019577,-0.132237,-0.018252,...,0.048493,0.030649,0.069556,0.013124,0.087027,0.032543,-0.006409,0.051082,-0.078759,-0.002472
2,0.018948,0.155315,0.089236,0.007797,-0.045418,-0.08552,0.092103,0.014316,-0.11241,0.013395,...,0.040785,0.032479,-0.000808,0.000849,0.02594,0.022111,0.056304,0.025286,-0.048522,0.012698
3,0.000032,0.153515,0.043181,0.041701,-0.000208,-0.045222,0.0892,-0.018791,-0.09546,-0.003285,...,0.029819,-0.012696,0.010795,-0.022455,0.047662,0.026622,-0.038948,0.106566,-0.083804,0.01748
4,0.010147,0.01173,0.021241,-0.008547,-0.100176,-0.050155,0.060851,-0.01091,-0.042367,-0.009978,...,0.049121,0.010891,0.019758,-0.026535,0.008957,0.06601,0.030302,0.064906,-0.062539,-0.056811
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,0.058791,0.133134,0.07689,0.014639,-0.022138,-0.057351,0.095277,-0.019574,-0.075399,-0.006303,...,0.014005,0.021779,0.027984,0.003791,0.036615,-0.064449,-0.033729,0.051677,-0.040883,0.044719
295,0.034488,0.062054,0.06955,-0.00716,-0.048018,-0.079318,0.140221,0.023941,-0.05591,-0.025269,...,0.011954,0.018758,-0.027775,-0.002671,0.051791,0.094267,0.037405,0.035812,-0.07302,-0.009961
296,0.042755,0.089987,0.039403,0.012632,-0.037624,0.006873,0.088822,0.05207,-0.119658,0.060596,...,-0.024541,0.020101,-0.00391,0.013179,-0.059825,0.042738,-0.005134,0.048372,0.004179,-0.055619
297,-0.0193,0.143786,0.00599,-0.04201,-0.040768,-0.0161,0.045126,-0.046953,-0.083056,-0.043749,...,-0.052936,0.034272,-0.061789,0.036,-0.046359,0.045828,0.048059,0.121236,-0.043453,0.014048
298,-0.030207,0.109929,0.007676,-0.040137,-0.006623,-0.06174,0.102302,-0.03651,-0.078288,-0.040378,...,-0.013423,-0.035008,-0.030225,0.028417,-0.008324,0.036285,-0.00568,0.081354,-0.065721,-0.018289

In [23]:
data=pd.concat([x_test,y_test],axis=1)

In [24]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,0.093517,0.108124,0.039941,0.057943,-0.003973,-0.034288,0.083808,0.012737,-0.090333,-0.017536,...,0.048195,0.038083,0.074667,-0.050703,0.06053,-0.020911,0.037261,-0.087543,-0.00783,2
1,0.056471,0.156534,0.061109,-0.00013,-0.008868,-0.081706,0.12524,-0.019577,-0.132237,-0.018252,...,0.030649,0.069556,0.013124,0.087027,0.032543,-0.006409,0.051082,-0.078759,-0.002472,1
2,0.018948,0.155315,0.089236,0.007797,-0.045418,-0.08552,0.092103,0.014316,-0.11241,0.013395,...,0.032479,-0.000808,0.000849,0.02594,0.022111,0.056304,0.025286,-0.048522,0.012698,0
3,0.000032,0.153515,0.043181,0.041701,-0.000208,-0.045222,0.0892,-0.018791,-0.09546,-0.003285,...,-0.012696,0.010795,-0.022455,0.047662,0.026622,-0.038948,0.106566,-0.083804,0.01748,2
4,0.010147,0.01173,0.021241,-0.008547,-0.100176,-0.050155,0.060851,-0.01091,-0.042367,-0.009978,...,0.010891,0.019758,-0.026535,0.008957,0.06601,0.030302,0.064906,-0.062539,-0.056811,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,0.058791,0.133134,0.07689,0.014639,-0.022138,-0.057351,0.095277,-0.019574,-0.075399,-0.006303,...,0.021779,0.027984,0.003791,0.036615,-0.064449,-0.033729,0.051677,-0.040883,0.044719,2
295,0.034488,0.062054,0.06955,-0.00716,-0.048018,-0.079318,0.140221,0.023941,-0.05591,-0.025269,...,0.018758,-0.027775,-0.002671,0.051791,0.094267,0.037405,0.035812,-0.07302,-0.009961,2
296,0.042755,0.089987,0.039403,0.012632,-0.037624,0.006873,0.088822,0.05207,-0.119658,0.060596,...,0.020101,-0.00391,0.013179,-0.059825,0.042738,-0.005134,0.048372,0.004179,-0.055619,1
297,-0.0193,0.143786,0.00599,-0.04201,-0.040768,-0.0161,0.045126,-0.046953,-0.083056,-0.043749,...,0.034272,-0.061789,0.036,-0.046359,0.045828,0.048059,0.121236,-0.043453,0.014048,0
298,-0.030207,0.109929,0.007676,-0.040137,-0.006623,-0.06174,0.102302,-0.03651,-0.078288,-0.040378,...,-0.035008,-0.030225,0.028417,-0.008324,0.036285,-0.00568,0.081354,-0.065721,-0.018289,0

In [25]:
data=data.sample(frac=1)

In [26]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
123,0.09279,0.148757,0.088746,0.031656,0.002162,-0.052944,0.071025,-0.004985,-0.114675,-0.036503,...,0.010815,0.089852,-0.013539,0.041555,0.040562,-0.07168,0.068928,-0.09816,-0.038422,2
189,0.028607,0.096542,0.011536,-0.028232,-0.008604,-0.055937,0.077978,-0.033325,-0.031077,-0.008049,...,0.013689,0.003414,-0.054397,0.081624,-0.002599,0.0012,0.071196,-0.068639,-0.046144,0
268,0.017936,0.102386,0.024499,0.066803,-0.024121,-0.072458,0.073123,0.024167,-0.054216,-0.041347,...,0.032764,0.012171,0.02865,0.001991,0.015375,-0.025314,0.030882,-0.023204,0.033456,1
233,0.041562,0.084184,0.110253,-0.022035,0.03701,-0.087625,0.018243,0.023136,-0.031391,-0.087431,...,-0.007414,-0.016105,0.034844,0.01141,-0.018646,-0.003385,0.073748,0.006679,0.038131,0
92,0.039476,0.111901,0.078708,0.034534,0.035059,-0.040979,0.114104,0.028421,-0.088075,-0.012669,...,0.061198,0.021565,0.019439,-0.023904,0.013509,-0.025306,0.006181,-0.089793,-0.056886,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,0.067855,0.153079,0.081587,0.036589,-0.008008,-0.055897,0.088824,-0.009473,-0.089414,-0.097725,...,-0.005167,0.069068,0.04764,-0.02924,0.010804,-0.006128,0.105801,-0.036761,0.026275,2
182,0.045036,0.10353,0.045473,0.015816,0.024928,-0.091419,0.095001,-0.043672,-0.093039,-0.049407,...,-0.002534,0.003415,-0.021119,0.004114,-0.017845,0.044277,0.040692,-0.080712,-0.002133,2
129,0.107676,0.152824,0.074912,0.014272,-0.029742,-0.038926,0.067268,-0.049395,-0.069,-0.01404,...,0.019058,0.009579,0.092107,-0.053592,0.031787,0.011762,0.083266,-0.056559,0.023523,2
232,0.119098,0.087705,0.015474,0.012425,-0.082525,-0.062835,0.071206,-0.001565,-0.075006,0.058517,...,0.06852,0.009079,-0.023962,-0.022738,0.051786,-0.015924,0.019532,-0.087333,-0.003385,0
181,0.005177,0.119704,0.006297,0.033969,-0.031003,-0.037842,0.118789,-0.012663,-0.076756,-0.031224,...,0.02575,-0.031543,0.037693,-0.04139,0.034928,-0.023606,0.043536,-0.050522,0.017087,1

In [27]:
data.to_csv("test_data_after_vector(증강).csv")