In [35]:
import pandas as pd

data=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0426/labeled/normal/일반 민원 data.csv",index_col=0)
data_ab1=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0426/labeled/fishing/1 sentence/대출사기형(1문장).csv",index_col=0)
data_ab2=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0426/labeled/fishing/1 sentence/수사기관형(1문장).csv",index_col=0)

In [36]:
data

                                             sentence  predict
0                                   어떤 은행을 이용하고 계십니까?        0
1                                     어느지점으로 안내해드릴까요?        0
2                             지금 전화거신 핸드폰이 본인명의 맞습니까?        0
3                                    생년월일을 말씀해주시겠습니까?        0
4                                     살고계신 주소는 어디입니까?        0
...                                               ...      ...
22584                                     62400원 입니다.        0
22585                                   1423200원 입니다.        0
22586  입주신청서와 추천서, 급여내역서 외 기타 서류를 갖고 홈페이지에서 신청하면 됩니다.        0
22587                                    1~3순위가 있습니다.        0
22588             국가유공자 자녀 및 국민기초생활수급권자를 1순위로 두고있습니다.        0

[22589 rows x 2 columns]

In [37]:
data=data.sample(frac=1)

In [38]:
data=data[:6000]

In [39]:
data

                                                sentence  predict
9565                              20일간 도서 신청을 할수 없게 됩니다.        0
18198                              서초구에서 가능한 곳은 제일병원입니다.        0
16628  중소기업육성기금의 경우 확진피해기업은 1% 직접피해기업 1.5%간접피해기업 1.8%...        0
14654                    운전면허 시험장 가셔서 재발급 서류 작성하시면 됩니다.         0
7621                                  시청 홈페이지 예약은 가능하시고요        0
...                                                  ...      ...
6020   지방세는 해당 시, 군 내에 주소를 두고 있는 개인세대주, 사업소를 둔 개인사업자,...        0
20902            네 변경은 안되시고 취소 후 날짜 변경하셔서 재예약하셔야 되시겠습니다.        0
16523                                건설근로자공제회로 전화하시면 됩니다        0
20085                                          ㅇ시에 시작합니다        0
1133                                    혹시 도난여부를 확인하셨나요?        0

[6000 rows x 2 columns]

In [40]:
data_ab1

                                               sentence  predict
0                                            여보세요 네   님        1
1                                   예 예 어저께 통화했던 최영환입니다        1
2                                                 아 예 예        1
3      어떻게 가진행 결과 안내차 오늘 아침에 전화 드린다고 제가 얘기를 했었는데 어떻게...        1
4            아 네 일단 최대한도는 고객님 신청하신 최대 한도는 3천만원까지 가능하시고요        1
...                                                 ...      ...
4631                                                NaN        1
4632                                                NaN        1
4633                                                NaN        1
4634                                                NaN        1
4635                                                NaN        1

[4636 rows x 2 columns]

In [41]:
data_ab2

                                                sentence  predict
0                     아 서울 중앙 지검 첨단 범죄 수사 일부 이희나 수사관입니다.        2
1       본 사건 조사는 법원 증거 제출용으로 이뤄지고 있으신데 녹취 조사 과정에서 허위 ...        2
2                   형사상 책임이 있으시니 사실에 입각하여 진실로 좀 하셔야 됩니다.        2
3                           네 네 OOO씨 지금 제가 본인 확인 한번 할께요.        2
4                           생년월일 앞에 여섯 자리만 말씀 부탁 드리겠습니다.        2
...                                                  ...      ...
10151                                             아 그래요?        2
10152   찾아오시는 분들이 많기 때문에 저희가 일방적으로 오라고 말씀드릴 수 없기 때문에 ...        2
10153                     그러면은 문자로 관련 내용 간단하게 요약해서 보내주세요        2
10154                             예 그 본인 자택으로 서류 보내드릴게요.        2
10155   그 문자 말고 그 확인하시고 읽어보신 다음에 이해 안 가는 부분 있으시면 다시 연...        2

[10156 rows x 2 columns]

In [42]:
data_ab=pd.concat([data_ab1,data_ab2])

In [43]:
data_ab

                                                sentence  predict
0                                             여보세요 네   님        1
1                                    예 예 어저께 통화했던 최영환입니다        1
2                                                  아 예 예        1
3       어떻게 가진행 결과 안내차 오늘 아침에 전화 드린다고 제가 얘기를 했었는데 어떻게...        1
4             아 네 일단 최대한도는 고객님 신청하신 최대 한도는 3천만원까지 가능하시고요        1
...                                                  ...      ...
10151                                             아 그래요?        2
10152   찾아오시는 분들이 많기 때문에 저희가 일방적으로 오라고 말씀드릴 수 없기 때문에 ...        2
10153                     그러면은 문자로 관련 내용 간단하게 요약해서 보내주세요        2
10154                             예 그 본인 자택으로 서류 보내드릴게요.        2
10155   그 문자 말고 그 확인하시고 읽어보신 다음에 이해 안 가는 부분 있으시면 다시 연...        2

[14792 rows x 2 columns]

In [44]:
data=pd.concat([data,data_ab])

In [45]:
data

                                                sentence  predict
9565                              20일간 도서 신청을 할수 없게 됩니다.        0
18198                              서초구에서 가능한 곳은 제일병원입니다.        0
16628  중소기업육성기금의 경우 확진피해기업은 1% 직접피해기업 1.5%간접피해기업 1.8%...        0
14654                    운전면허 시험장 가셔서 재발급 서류 작성하시면 됩니다.         0
7621                                  시청 홈페이지 예약은 가능하시고요        0
...                                                  ...      ...
10151                                             아 그래요?        2
10152   찾아오시는 분들이 많기 때문에 저희가 일방적으로 오라고 말씀드릴 수 없기 때문에 ...        2
10153                     그러면은 문자로 관련 내용 간단하게 요약해서 보내주세요        2
10154                             예 그 본인 자택으로 서류 보내드릴게요.        2
10155   그 문자 말고 그 확인하시고 읽어보신 다음에 이해 안 가는 부분 있으시면 다시 연...        2

[20792 rows x 2 columns]

In [46]:
data=data.sample(frac=1)

In [47]:
data

                                        sentence  predict
9069    아 네 그 국민 은행 입출금 계좌 두 계좌는 용도가 동일하시지 않습니까?        2
535                       그거는 뭐 고객님께서 결정을 해주셔야죠.        1
3424                        그거는 수사관이 다 드리는 돈이에요.        2
20978               네 직인생략은 수료증 효력에는 전혀 문제없습니다.         0
1458                                      얼마정도요?        1
...                                          ...      ...
6409                         네 네 그리고 그 3번에 보시면요.        2
3351                                   무슨말인지 알죠?        2
628                               네 어떤것을 도와드릴까요?        0
3264                  아 제거 KB국민은행에 상환이 다 안되있던데요?        1
263                                 아 그거는 모르겠는데.        2

[20792 rows x 2 columns]

In [48]:
test_data=data[:300]

In [49]:
train_data=data[300:data.shape[0]]

In [50]:
train_data

                                               sentence  predict
9823           예 더 궁금한 점 없으시면 상담 종료하겠습니다. 상담원 OOO이었습니다.        0
4928                              죄송하지만 이미 신청기간이 지났어요.         0
9074                네, 청년을 대상으로 저렴하게 임대주택을 공급하는 서비스입니다.        0
8678                                             몇몇 분들만        2
9473   금융 개인 정보 유출이 나 이 부분으로 인해서 금융범죄의 피해를 입으신 건지 확인...        2
...                                                 ...      ...
6409                                네 네 그리고 그 3번에 보시면요.        2
3351                                          무슨말인지 알죠?        2
628                                      네 어떤것을 도와드릴까요?        0
3264                         아 제거 KB국민은행에 상환이 다 안되있던데요?        1
263                                        아 그거는 모르겠는데.        2

[20492 rows x 2 columns]

In [51]:
train_data.to_csv("train data.csv")
test_data.to_csv("test data.csv")