In [9]:
import pandas as pd 

data1=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/fishing/labeled/대출사기(1).csv")
data2=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/fishing/labeled/수사기관(2).csv")

data1.drop(columns=['Unnamed: 0'],inplace=True)
data2.drop(columns=['Unnamed: 0'],inplace=True)

In [10]:
data=pd.concat([data1,data2])

In [11]:
data

                                                sentence  predict
0                                                ['여보세요'        1
1                                                '네   님'        1
2                                                  '예 예'        1
3                                      '어저께 통화했던 최영환입니다'        1
4                                                '아 예 예'        1
...                                                  ...      ...
12793                   '그러면은 문자로 관련 내용 간단하게 요약해서 보내주세요'        2
12794                           '예 그 본인 자택으로 서류 보내드릴게요.'        2
12795   '그 문자 말고 그 확인하시고 읽어보신 다음에 이해 안 가는 부분 있으시면 다시 ...        2
12796                                                '네'        2
12797                                               '예']        2

[18460 rows x 2 columns]

In [12]:
data=data.sample(frac=1)

In [13]:
data

                              sentence  predict
12596                              '네'        2
988                            '여깄네요.'        1
4615                        '우리 은행 은요'        2
1442                       '사기치지 마시고요'        1
4225    '중도 상환 수수료는 최소 3개월 동안만 연체 없으시면        1
...                                ...      ...
357                                 예금        2
11680           '아 그 뭐를 말씀드리면 된다 그랬죠?'        2
2325                               '네'        1
9836                         마약 사건이라던가        2
1013                   '예 업무 다 보셨습니까?'        2

[18460 rows x 2 columns]

In [15]:
test_data=pd.DataFrame(data.iloc[:300])

In [17]:
test_data

                              sentence  predict
12596                              '네'        2
988                            '여깄네요.'        1
4615                        '우리 은행 은요'        2
1442                       '사기치지 마시고요'        1
4225    '중도 상환 수수료는 최소 3개월 동안만 연체 없으시면        1
...                                ...      ...
7128                               '네'        2
1542                     중도 상환 수수료는요?'        1
3529                        '다 할 거예요.'        2
4140                      '예 예 고맙습니다.'        2
3127                            '그렇죠.'        2

[300 rows x 2 columns]

In [18]:
train_data=pd.DataFrame(data.iloc[300:])

In [19]:
train_data

                                                sentence  predict
7941    그리고 6번에 보시면은 기타 추가적인 문의 사항이 있을 경우엔 담당 검사인 저한테...        2
4380                '변호사 선임해주시고 연락을 주시면은 저희 직원이 파견나간다고요'        1
7779                                                 '예'        2
3812    '그게 지금 고객센터로 넘어가는게 좀 서류가 늦게 들어가서 확인이 안되실수도 있으세요'        1
3235                                          '무슨 데이터가?'        2
...                                                  ...      ...
357                                                   예금        2
11680                             '아 그 뭐를 말씀드리면 된다 그랬죠?'        2
2325                                                 '네'        1
9836                                           마약 사건이라던가        2
1013                                     '예 업무 다 보셨습니까?'        2

[18160 rows x 2 columns]

In [20]:
train_data.to_csv("fishing_train.csv")
test_data.to_csv("fishing_test.csv")