In [87]:
import pandas as pd

data_ab=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/abnormal/보이스 피싱.csv")

data_nor=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/normal/일반 민원.csv")

In [88]:
data_ab

      Unnamed: 0                                           sentence  predict
0              0  지금 전화연락 드렸어요. 지금 통합 안녕하십니까? 네. 지금 본인 명의가 지금 도용...      0.0
1              1  여보세요? 없어요. 몇 가지 확인할 사항이 있어서 연락드린 건데요. 보시죠. 말씀하...      0.0
2              2  지난주 금요일 마포지역에서 김명철 두목으로 된 금융사기집단이 8 명을 검거했거든요 ...      0.0
3              3  그래요. 여보세요. 혹시 맞습니까? 저는 서울중앙지방검찰청이고요 신인 철수세번입니다...      0.0
4              4  국가가 없으시기 때문에 그 녹취로서 약식 조사를 할 건데 그리고 이게 휴대폰 아닙니...      0.0
...          ...                                                ...      ...
9995        9995  시월달부터. 또 현재까지 지금까지 수천만원의 불법 자금세탁을 해서 해외로 송출된 기...      0.0
9996        9996  후보자들이 범죄가 변형이 되기 시작합니다. 즉 지능범죄로 바뀌게 되는데 3 차 피해...      0.0
9997        9997  그렇습니까? 또 혹시 최근에 주민등록증이나 운전면허증 요건이 양도하거나 분실한 적이...      0.0
9998        9998  말씀하세요 음성놓지 전하는 교사 3 자필 서명과 동일한 효력을 지니면 음성놓지 좀 ...      0.0
9999        9999  여보세요. 여보세요 했어요. 얼마 하셨죠? 육백만원 천육백만원 시간 나와있죠 시간 ...      0.0

[10000 rows x 3 columns]

In [89]:
data_nor

       Unnamed: 0                             sentence  predict
0               0       이용하시는 은행의 사이트에서 지방세 납부가 가능합니다.        1
1               1  그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능합니다.        1
2               2                         방문납부도 가능합니다.        1
3               3              도보로 10분위치에 서울역지점이 있습니다.        1
4               4                  도보로 가시는게 빠를 것 같습니다.        1
...           ...                                  ...      ...
24562       24562                   추가적으로 필요하신거 있으신가요?        1
24563       24563                      서울시에서 진행하는 건가요?        1
24564       24564                         어떠점이 궁금하십니까?        1
24565       24565  공연, 체험, 전시, 기타 등이 있는데 어느걸로 안내해드릴까요?        1
24566       24566             네. 혼인신고의 어떤 내용을 알고싶으신가요?        1

[24567 rows x 3 columns]

In [90]:
data_nor.drop(columns=['Unnamed: 0'],inplace=True)
data_ab.drop(columns=['Unnamed: 0'],inplace=True)

In [91]:
data=pd.DataFrame(index=range(0,data_ab.shape[0]),columns=["sentence","predict"])

In [92]:
data_nor=data_nor.fillna(method="ffill")

/var/folders/gb/hslcbzfs0bvcnj3zxtfrxt_r0000gn/T/ipykernel_4351/3762845553.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data_nor=data_nor.fillna(method="ffill")

In [93]:
data_nor

                                  sentence  predict
0           이용하시는 은행의 사이트에서 지방세 납부가 가능합니다.        1
1      그럼 스마트폰에서 기업은행 어플을 설치하시면 납부가 가능합니다.        1
2                             방문납부도 가능합니다.        1
3                  도보로 10분위치에 서울역지점이 있습니다.        1
4                      도보로 가시는게 빠를 것 같습니다.        1
...                                    ...      ...
24562                   추가적으로 필요하신거 있으신가요?        1
24563                      서울시에서 진행하는 건가요?        1
24564                         어떠점이 궁금하십니까?        1
24565  공연, 체험, 전시, 기타 등이 있는데 어느걸로 안내해드릴까요?        1
24566             네. 혼인신고의 어떤 내용을 알고싶으신가요?        1

[24567 rows x 2 columns]

In [94]:
import random

for i in range(data.shape[0]):
    A=random.randint(0,data_nor.shape[0])
    data.iloc[i,0]=data_nor.iloc[A,0]
    data.iloc[i,1]=data_nor.iloc[A,1]

In [50]:
data

                                               sentence predict
0                                    고급 탭을 클릭해 주시면 됩니다.       1
1                                   10월까지는 9시-19시 운영합니다       1
2                                           네 확인되셨습니다.        1
3     근로계약서 작성한 채용내정된자는 채용을 기대할것이므로 회사사정일지라도 채용내정을 취...       1
4                   네. 일주일이상 소요되며 방문하시거나 등기로 수령이 가능합니다.       1
...                                                 ...     ...
9995                 가을밤, 힐링과 희망, 응원의 메시지를 담은 영상 3점입니다.       1
9996    관할경찰서를 선택하신 후 신청사유와 연락가능한 시간, 연락처 등을 입력하시면 됩니다.       1
9997                                         네, 불가능합니다.       1
9998                         어느 지역에서 진행하는 행사를 안내해 드릴까요?       1
9999                                          소급 가능합니다.       1

[10000 rows x 2 columns]

In [96]:
data_ab=data_ab.fillna(method="ffill")

/var/folders/gb/hslcbzfs0bvcnj3zxtfrxt_r0000gn/T/ipykernel_4351/1943629611.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data_ab=data_ab.fillna(method="ffill")

In [98]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer("sentence-transformers/all-MiniLM-L6-v2")

In [97]:
data_ab.isnull().sum()

sentence    0
predict     0
dtype: int64

In [99]:
A=model.encode(data_ab.iloc[0,0])
A[0]

0.008600412

In [100]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [101]:
list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383]

In [102]:
x_train=pd.DataFrame(index=range(0,data.shape[0]+data_ab.shape[0]),columns=list)

In [103]:
x_train.shape

(20000, 384)

In [104]:

y_train=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [105]:

y_train

      predict
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
19995     NaN
19996     NaN
19997     NaN
19998     NaN
19999     NaN

[20000 rows x 1 columns]

In [106]:
for i in range(10000):
    y_train.iloc[i,0]=data_nor.iloc[i,1]

In [107]:
y_train.isnull().sum()

predict    10000
dtype: int64

In [108]:
num=0
for i in range(10000,20000):
    y_train.iloc[i,0]=data_ab.iloc[num,1]
    num=num+1

In [109]:
y_train=y_train.fillna(0)

In [110]:
y_train.isnull().sum()

predict    0
dtype: int64

In [111]:
y_train

       predict
0          1.0
1          1.0
2          1.0
3          1.0
4          1.0
...        ...
19995      0.0
19996      0.0
19997      0.0
19998      0.0
19999      0.0

[20000 rows x 1 columns]

In [112]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data_nor.iloc[i,0])
    for j in range(x_train.shape[1]):
        x_train.iloc[i,j]=vector[j]

In [115]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,-0.002462,0.063626,0.048404,-0.015806,-0.080014,-0.042903,0.048201,0.022032,-0.010271,-0.014184,...,0.031665,0.016794,-0.016069,0.024121,0.079848,0.035188,0.025078,0.001319,-0.11143,-0.018213
1,0.004858,0.094779,0.027213,-0.05888,-0.077706,-0.046932,-0.028774,0.045448,-0.054899,-0.049813,...,0.039796,-0.006909,-0.025565,0.002696,0.045801,0.026945,-0.029253,-0.004087,-0.03943,0.050875
2,-0.068242,0.098199,0.069107,-0.041499,-0.076791,-0.032502,0.060127,0.017729,-0.021228,0.024822,...,0.040821,0.045893,0.011022,0.019021,0.057508,0.020776,0.096861,0.052044,-0.085279,-0.009804
3,0.026923,0.063165,-0.011377,-0.036269,0.027274,-0.053733,0.025879,0.065898,-0.039403,-0.025006,...,0.044304,0.061636,-0.005453,-0.001515,0.021509,-0.010228,0.005754,0.047533,-0.071795,-0.012905
4,-0.017875,0.084655,0.068875,-0.026948,0.051524,-0.018671,0.089172,-0.002808,-0.013032,-0.05858,...,0.03932,0.058622,0.014096,0.035054,0.05144,-0.022842,0.030863,0.029337,-0.069516,-0.014143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
for i in range(data_ab.shape[0]):
    vector=[]
    vector=model.encode(data_ab.iloc[i,0])
    #print(vector[0])
    for j in range(x_train.shape[1]):
        num=i+data.shape[0]
        x_train.iloc[num,j]=vector[j]

In [117]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,-0.002462,0.063626,0.048404,-0.015806,-0.080014,-0.042903,0.048201,0.022032,-0.010271,-0.014184,...,0.031665,0.016794,-0.016069,0.024121,0.079848,0.035188,0.025078,0.001319,-0.11143,-0.018213
1,0.004858,0.094779,0.027213,-0.05888,-0.077706,-0.046932,-0.028774,0.045448,-0.054899,-0.049813,...,0.039796,-0.006909,-0.025565,0.002696,0.045801,0.026945,-0.029253,-0.004087,-0.03943,0.050875
2,-0.068242,0.098199,0.069107,-0.041499,-0.076791,-0.032502,0.060127,0.017729,-0.021228,0.024822,...,0.040821,0.045893,0.011022,0.019021,0.057508,0.020776,0.096861,0.052044,-0.085279,-0.009804
3,0.026923,0.063165,-0.011377,-0.036269,0.027274,-0.053733,0.025879,0.065898,-0.039403,-0.025006,...,0.044304,0.061636,-0.005453,-0.001515,0.021509,-0.010228,0.005754,0.047533,-0.071795,-0.012905
4,-0.017875,0.084655,0.068875,-0.026948,0.051524,-0.018671,0.089172,-0.002808,-0.013032,-0.05858,...,0.03932,0.058622,0.014096,0.035054,0.05144,-0.022842,0.030863,0.029337,-0.069516,-0.014143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0.011915,0.031059,0.043947,-0.019079,0.008514,-0.073663,-0.019162,0.045006,0.008509,-0.063171,...,0.007541,0.039156,-0.012639,0.015841,0.031875,0.027279,0.045917,0.0136,-0.054469,0.026499
19996,0.044292,0.032942,0.098916,0.000123,-0.007,-0.041461,0.055292,0.025891,0.005322,-0.024715,...,-0.026627,0.03484,-0.025573,0.063375,0.006883,-0.01542,0.079858,0.022866,-0.091251,0.006602
19997,0.02636,0.00732,0.059261,0.014485,-0.033367,-0.046074,0.043258,0.028138,0.015121,-0.038541,...,-0.047417,0.044443,-0.017819,0.060368,-0.000734,-0.004143,0.033975,-0.000227,-0.066865,-0.022053
19998,0.044413,0.034731,0.018923,0.004426,-0.025417,-0.037297,0.010726,0.017907,-0.003297,-0.025375,...,-0.04249,0.007256,-0.01636,0.0508,-0.002912,-0.027565,0.054328,0.030855,-0.05768,-0.012802
19999,0.068824,0.031062,-0.00222,-0.025025,-0.035694,-0.040489,0.048092,0.054765,0.009618,-0.030708,...,-0.025363,-0.002606,-0.002933,0.020006,-0.005411,0.031231,0.009938,0.000033,-0.054388,0.011153

In [118]:
data=pd.concat([x_train,y_train],axis=1)

In [119]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,-0.002462,0.063626,0.048404,-0.015806,-0.080014,-0.042903,0.048201,0.022032,-0.010271,-0.014184,...,0.016794,-0.016069,0.024121,0.079848,0.035188,0.025078,0.001319,-0.11143,-0.018213,1.0
1,0.004858,0.094779,0.027213,-0.05888,-0.077706,-0.046932,-0.028774,0.045448,-0.054899,-0.049813,...,-0.006909,-0.025565,0.002696,0.045801,0.026945,-0.029253,-0.004087,-0.03943,0.050875,1.0
2,-0.068242,0.098199,0.069107,-0.041499,-0.076791,-0.032502,0.060127,0.017729,-0.021228,0.024822,...,0.045893,0.011022,0.019021,0.057508,0.020776,0.096861,0.052044,-0.085279,-0.009804,1.0
3,0.026923,0.063165,-0.011377,-0.036269,0.027274,-0.053733,0.025879,0.065898,-0.039403,-0.025006,...,0.061636,-0.005453,-0.001515,0.021509,-0.010228,0.005754,0.047533,-0.071795,-0.012905,1.0
4,-0.017875,0.084655,0.068875,-0.026948,0.051524,-0.018671,0.089172,-0.002808,-0.013032,-0.05858,...,0.058622,0.014096,0.035054,0.05144,-0.022842,0.030863,0.029337,-0.069516,-0.014143,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0.011915,0.031059,0.043947,-0.019079,0.008514,-0.073663,-0.019162,0.045006,0.008509,-0.063171,...,0.039156,-0.012639,0.015841,0.031875,0.027279,0.045917,0.0136,-0.054469,0.026499,0.0
19996,0.044292,0.032942,0.098916,0.000123,-0.007,-0.041461,0.055292,0.025891,0.005322,-0.024715,...,0.03484,-0.025573,0.063375,0.006883,-0.01542,0.079858,0.022866,-0.091251,0.006602,0.0
19997,0.02636,0.00732,0.059261,0.014485,-0.033367,-0.046074,0.043258,0.028138,0.015121,-0.038541,...,0.044443,-0.017819,0.060368,-0.000734,-0.004143,0.033975,-0.000227,-0.066865,-0.022053,0.0
19998,0.044413,0.034731,0.018923,0.004426,-0.025417,-0.037297,0.010726,0.017907,-0.003297,-0.025375,...,0.007256,-0.01636,0.0508,-0.002912,-0.027565,0.054328,0.030855,-0.05768,-0.012802,0.0
19999,0.068824,0.031062,-0.00222,-0.025025,-0.035694,-0.040489,0.048092,0.054765,0.009618,-0.030708,...,-0.002606,-0.002933,0.020006,-0.005411,0.031231,0.009938,0.000033,-0.054388,0.011153,0.0

In [120]:
data.to_csv("sentenceTransformer_vetorized.csv")

In [124]:
data=data.sample(frac=1)

In [125]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
17379,0.030042,0.033084,0.051998,-0.008586,-0.009696,-0.022546,0.031616,0.043053,-0.055942,-0.051062,...,0.040412,0.0009,0.030641,-0.002816,-0.021017,0.069315,0.035533,-0.070293,-0.001365,0.0
5267,-0.031615,0.018372,0.079164,-0.048274,0.030266,-0.076914,-0.00782,0.058505,-0.006471,-0.048668,...,0.007697,0.030816,-0.037832,0.011091,-0.061252,0.017552,0.053044,-0.020735,0.010727,1.0
12616,0.03081,0.014487,0.060034,-0.00497,-0.027295,-0.036388,0.034811,0.039396,0.000356,-0.040507,...,0.047256,0.006786,0.056363,0.004168,0.005962,0.049331,0.018542,-0.063127,-0.013229,0.0
12863,0.068824,0.031062,-0.00222,-0.025025,-0.035694,-0.040489,0.048092,0.054765,0.009618,-0.030708,...,-0.002606,-0.002933,0.020006,-0.005411,0.031231,0.009938,0.000033,-0.054388,0.011153,0.0
17041,0.011438,0.012781,0.066298,0.00983,-0.048678,-0.047542,0.061735,0.028625,-0.028338,-0.049844,...,0.034675,-0.052604,0.063333,0.016823,0.008903,0.034501,0.002022,-0.062553,-0.029331,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14917,0.029084,0.007079,0.06528,0.010671,-0.008212,-0.039906,-0.025279,0.052807,0.01341,-0.050692,...,0.05468,-0.011122,0.053325,0.012974,-0.021038,0.057185,-0.001353,-0.040707,0.021125,0.0
12119,0.070621,0.037041,0.026877,-0.016001,-0.066329,-0.022026,0.021061,0.153488,-0.081306,0.016769,...,-0.002367,0.005334,-0.031038,0.023936,-0.012026,-0.01761,-0.005658,-0.037283,-0.050648,0.0
9169,0.038888,0.086754,0.029074,-0.026451,0.020403,-0.071795,0.069914,0.012898,-0.012143,-0.046277,...,0.026926,0.020445,0.008906,0.081576,0.00633,0.046696,0.077542,-0.085712,0.031837,1.0
33,0.058234,0.049223,0.064661,-0.047745,-0.0523,-0.035287,0.089571,0.054887,-0.023084,0.015725,...,-0.001652,0.011752,0.042198,0.019838,0.066612,0.045024,0.059244,-0.088703,-0.027563,1.0
7107,-0.029899,0.112171,0.052113,-0.040574,0.037217,-0.049776,0.104363,0.051372,-0.015632,-0.051833,...,0.052269,0.04116,-0.0138,0.038791,-0.020397,0.041991,0.051109,-0.067907,0.057006,1.0

In [126]:
data.to_csv("sentenceTransformer_vetorized.csv")