In [17]:
import pandas as pd

data_ab=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/abnormal/abnormal_testdata.csv")

data_nor=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/normal/normal_testdata.csv")

In [18]:
data_ab

     Unnamed: 0                                           sentence  predict
0             0  예 고객님 담당자 김성도 대리입니다.\n예\n지금 법무사님이 두분 배정되셨어요.\n...        0
1             1  본인 성함 알겟습니다. 제가 첫번째는 이제 본인이 혹시라도 이제 깡통 계좌 발생으로...        0
2             2  6시 되가지고 전화 해봤습니다.\n예 예 그 앞전에 이면주 법무사님 영수증 확인되셨...        0
3             3  네 네 네 여보세요\n네 네\n어디에 계시는 겁니까 지금\n네?\n지금 어디 계시는...        0
4             4  네 여보세요.\n네 여보세요? 네 OOO 고객님 맞으시죠?\n네 맞아요.\n네 고객...        0
..          ...                                                ...      ...
690         690  지금까지 사실확인서를 연락드렸습니다. 하고 있는데 이런 사건 때문에 내가 여쭤볼게 ...        0
691         691  연료 데이는 사건 때문에 연락 드렸는데 혹시 김명철씨 가십니까 모르시고 아는 사람도...        0
692         692  4장 4절 일어났습니까? 장소 잡고 님께서는 42세 남성 김동술 알고 계십니까? 아...        0
693         693  네\n네 여보세요\n뭐 어디세요?\n아 네 안녕하세요 저희 그 하나캐피탈에서 연락을...        0
694         694  통장명이 (삐-) 계좌 맞구요? 그리고 통장 발급 일은 2017년 3월 14일입니다...        0

[695 rows x 3 columns]

In [19]:
data_nor

      Unnamed: 0                                           sentence  predict
0              0  저는 여행 다니는 것을 굉장히 좋아하는데요. 그래가지고 스페인이나 뭐 영국 유럽 아...        1
1              1  반려동물을 키우고 계신가요? 혹시 안 키우고 계시다면은 어떤 반려동물을 한번 키워보...        1
2              2   씨는 주로 어떤 음식 좋아하시나요? 저는 근데 가리는 게 거의 없어서 대부분 다 ...        1
3              3   씨는 반려동물 어~ 좋 뭐 어떤 동물 좋아하세요? 저는 고양이를 정말 좋아하는데요...        1
4              4  가장 좋아하는 음식이 무엇인가요? 저는 주로 먹는 거를 좋아해서 음식을 가리지 않고...        1
...          ...                                                ...      ...
2227        2227  요새 먹거리에 대해 코로나 때문에 그런지 더 관심이 많아지는 거 같아요. 특히 집에...        1
2228        2228  어~ 중학생 때부터 좋아하던 배우가 있는데 어~ 이제 요즘 영화나 드라마 같은 데는...        1
2229        2229  오늘은 꿈에 대해서 한번 이야기를 나눠 보았으면 좋겠어요. 음~ 나는 어렸을 때부터...        1
2230        2230  저는 여러 계절이 있지만 겨울 이라는 계절을 제일 좋아하는데요. 가장 큰 이유 중의...        1
2231        2231  저는 학교를 졸업한 지 오래되어서 어~ 기억이 쪼금 먼 기리 멀기는 하지만 어~ 저...        1

[2232 rows x 3 columns]

In [20]:
data_nor.isnull().sum()

Unnamed: 0    0
sentence      0
predict       0
dtype: int64

In [21]:
data_ab.isnull().sum()

Unnamed: 0    0
sentence      0
predict       0
dtype: int64

In [22]:
data_nor.drop(columns=['Unnamed: 0'],inplace=True)
data_ab.drop(columns=['Unnamed: 0'],inplace=True)

In [23]:
data=pd.DataFrame(index=range(0,data_ab.shape[0]+data_nor.shape[0]),columns=["sentence","predict"])

In [24]:
data_nor=data_nor.fillna(method="ffill")

/var/folders/gb/hslcbzfs0bvcnj3zxtfrxt_r0000gn/T/ipykernel_5255/3762845553.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data_nor=data_nor.fillna(method="ffill")

In [25]:
data_nor

                                               sentence  predict
0     저는 여행 다니는 것을 굉장히 좋아하는데요. 그래가지고 스페인이나 뭐 영국 유럽 아...        1
1     반려동물을 키우고 계신가요? 혹시 안 키우고 계시다면은 어떤 반려동물을 한번 키워보...        1
2      씨는 주로 어떤 음식 좋아하시나요? 저는 근데 가리는 게 거의 없어서 대부분 다 ...        1
3      씨는 반려동물 어~ 좋 뭐 어떤 동물 좋아하세요? 저는 고양이를 정말 좋아하는데요...        1
4     가장 좋아하는 음식이 무엇인가요? 저는 주로 먹는 거를 좋아해서 음식을 가리지 않고...        1
...                                                 ...      ...
2227  요새 먹거리에 대해 코로나 때문에 그런지 더 관심이 많아지는 거 같아요. 특히 집에...        1
2228  어~ 중학생 때부터 좋아하던 배우가 있는데 어~ 이제 요즘 영화나 드라마 같은 데는...        1
2229  오늘은 꿈에 대해서 한번 이야기를 나눠 보았으면 좋겠어요. 음~ 나는 어렸을 때부터...        1
2230  저는 여러 계절이 있지만 겨울 이라는 계절을 제일 좋아하는데요. 가장 큰 이유 중의...        1
2231  저는 학교를 졸업한 지 오래되어서 어~ 기억이 쪼금 먼 기리 멀기는 하지만 어~ 저...        1

[2232 rows x 2 columns]

In [26]:
import random

for i in range(data_nor.shape[0]):
    A=random.randint(0,data_nor.shape[0])
    data.iloc[i,0]=data_nor.iloc[A,0]
    data.iloc[i,1]=data_nor.iloc[A,1]

In [27]:
data

                                               sentence predict
0     지금 코로나로 인해서 막 어디 원래는 막 사람들이 다 여행지를 다 계획하고 있었는데...       1
1     저는 운동신경이 좋지 않아서 어~ 대학교 체육대회나 고등학교 체육대회 때 선수로 출...       1
2     기억에 남는 명언 있으신가요? 저는 명언을 잘 알지 못합니다. 그래서 저의 가치관에...       1
3     요즘에 그~ 연예인들이 많이 자살하잖아. 근데 그런 거 보면은 진짜 안타까운 거 같...       1
4     네가 제일 좋아하는 영화배우는 누구야? 내가 제일 좋아하는 영화배우는 송강호야. 송...       1
...                                                 ...     ...
2922                                                NaN     NaN
2923                                                NaN     NaN
2924                                                NaN     NaN
2925                                                NaN     NaN
2926                                                NaN     NaN

[2927 rows x 2 columns]

In [39]:
data.isnull().sum()

sentence    695
predict     695
dtype: int64

In [28]:
data_ab

                                              sentence  predict
0    예 고객님 담당자 김성도 대리입니다.\n예\n지금 법무사님이 두분 배정되셨어요.\n...        0
1    본인 성함 알겟습니다. 제가 첫번째는 이제 본인이 혹시라도 이제 깡통 계좌 발생으로...        0
2    6시 되가지고 전화 해봤습니다.\n예 예 그 앞전에 이면주 법무사님 영수증 확인되셨...        0
3    네 네 네 여보세요\n네 네\n어디에 계시는 겁니까 지금\n네?\n지금 어디 계시는...        0
4    네 여보세요.\n네 여보세요? 네 OOO 고객님 맞으시죠?\n네 맞아요.\n네 고객...        0
..                                                 ...      ...
690  지금까지 사실확인서를 연락드렸습니다. 하고 있는데 이런 사건 때문에 내가 여쭤볼게 ...        0
691  연료 데이는 사건 때문에 연락 드렸는데 혹시 김명철씨 가십니까 모르시고 아는 사람도...        0
692  4장 4절 일어났습니까? 장소 잡고 님께서는 42세 남성 김동술 알고 계십니까? 아...        0
693  네\n네 여보세요\n뭐 어디세요?\n아 네 안녕하세요 저희 그 하나캐피탈에서 연락을...        0
694  통장명이 (삐-) 계좌 맞구요? 그리고 통장 발급 일은 2017년 3월 14일입니다...        0

[695 rows x 2 columns]

In [42]:
data_ab.isnull().sum()

sentence    0
predict     0
dtype: int64

In [43]:
num=data_nor.shape[0]
for i in range(data_ab.shape[0]):
    data.iloc[num+i,0]=data_ab.iloc[i,0]
    data.iloc[num+i,1]=data_ab.iloc[i,1]

In [44]:
data

                                               sentence predict
0     지금 코로나로 인해서 막 어디 원래는 막 사람들이 다 여행지를 다 계획하고 있었는데...       1
1     저는 운동신경이 좋지 않아서 어~ 대학교 체육대회나 고등학교 체육대회 때 선수로 출...       1
2     기억에 남는 명언 있으신가요? 저는 명언을 잘 알지 못합니다. 그래서 저의 가치관에...       1
3     요즘에 그~ 연예인들이 많이 자살하잖아. 근데 그런 거 보면은 진짜 안타까운 거 같...       1
4     네가 제일 좋아하는 영화배우는 누구야? 내가 제일 좋아하는 영화배우는 송강호야. 송...       1
...                                                 ...     ...
2922  지금까지 사실확인서를 연락드렸습니다. 하고 있는데 이런 사건 때문에 내가 여쭤볼게 ...       0
2923  연료 데이는 사건 때문에 연락 드렸는데 혹시 김명철씨 가십니까 모르시고 아는 사람도...       0
2924  4장 4절 일어났습니까? 장소 잡고 님께서는 42세 남성 김동술 알고 계십니까? 아...       0
2925  네\n네 여보세요\n뭐 어디세요?\n아 네 안녕하세요 저희 그 하나캐피탈에서 연락을...       0
2926  통장명이 (삐-) 계좌 맞구요? 그리고 통장 발급 일은 2017년 3월 14일입니다...       0

[2927 rows x 2 columns]

In [45]:
data=data.sample(frac=1)

In [46]:
data

                                               sentence predict
626   혹시 받으셨던 선물 중에서 가장 기억에 남는 선물 있으세요? 있죠. 있는데 나는 그...       1
2128  어~ 요즘 계절은 뭐 4계절이 딱 나눠져 있는 게 아니라 뭐 춥 추운 계절 더운 계...       1
2442  네. 일단 이 통장들이 저희가 조회를 해 본 경로가 지난 2016년도 8월 14일에...       0
209   아우 날씨가 정말 계속 인제 또 더워지고 있는데 우리나라에 요즘 날씨 기후를 보면 ...       1
266   어떻게 이~ 건강을 위해서 어떤 건강 요법 어떤 그~ 다이어트를 하는지 말씀해주시겠...       1
...                                                 ...     ...
2923  연료 데이는 사건 때문에 연락 드렸는데 혹시 김명철씨 가십니까 모르시고 아는 사람도...       0
371   키우고 계신 반려동물 있으신가요? 저는 강아지를 키우고 있습니다. 강아지에 이름은 ...       1
1484  아~ 서천 족발집 사장 이런 기사를 요즘 너무 자주 보는 거 같아서 참 마음이 짠하...       1
2778  중입니다 서울지방경찰 본인 앞으로 연락 드렸습니다. 통화 가능하시죠? 혹시 그 이동...       0
2317  점검 다 하고 관련이 있는 사람인데요 김형석 이요 본인 본인은 맞으시죠? 사람이 없...       0

[2927 rows x 2 columns]

In [47]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer("sentence-transformers/all-MiniLM-L6-v2")

In [48]:
data.isnull().sum()

sentence    0
predict     0
dtype: int64

In [49]:
A=model.encode(data.iloc[0,0])
A[0]

-0.0044854656

In [50]:
list=[]

for i in range(A.shape[0]):
    list.append(i)

In [51]:
list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383]

In [58]:
x_test=pd.DataFrame(index=range(0,data.shape[0]),columns=list)

In [59]:
x_test.shape

(2927, 384)

In [60]:

y_test=pd.DataFrame(index=range(0,x_train.shape[0]),columns=['predict'])

In [61]:

y_test

     predict
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
2922     NaN
2923     NaN
2924     NaN
2925     NaN
2926     NaN

[2927 rows x 1 columns]

In [62]:
for i in range(data.shape[0]):
    y_test.iloc[i,0]=data.iloc[i,1]

In [63]:
y_test

     predict
0          1
1          1
2          0
3          1
4          1
...      ...
2922       0
2923       1
2924       1
2925       0
2926       0

[2927 rows x 1 columns]

In [64]:
y_test.isnull().sum()

predict    0
dtype: int64

In [65]:
for i in range(data.shape[0]):
    vector=[]
    vector=model.encode(data.iloc[i,0])
    for j in range(x_test.shape[1]):
        x_test.iloc[i,j]=vector[j]

In [66]:
x_test

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,-0.004485,0.040216,0.100222,-0.025588,0.02387,-0.046489,0.041858,-0.00494,-0.030297,-0.06549,...,-0.024394,-0.008157,-0.011646,0.074749,0.012365,0.02424,0.015391,0.022898,-0.061241,-0.008003
1,0.003821,0.016756,0.094394,-0.037897,-0.016051,-0.044666,0.029508,0.006384,-0.028482,-0.072549,...,-0.024053,0.003995,-0.004308,0.089735,0.031855,0.020855,0.016024,0.014964,-0.017802,-0.029345
2,-0.027349,0.04127,0.06666,-0.023446,-0.011394,-0.015634,0.02913,0.039949,-0.024561,-0.043747,...,0.002494,0.000747,-0.024581,0.062747,0.033207,0.013616,0.043777,-0.017174,-0.076498,-0.050372
3,-0.005541,0.028918,0.056532,-0.035579,-0.032072,-0.060312,0.067309,0.028662,-0.044187,-0.043891,...,-0.065724,0.003958,-0.055369,0.04614,0.000933,0.026434,0.004565,0.00413,-0.045542,-0.030666
4,-0.01417,0.035596,0.074382,-0.033341,-0.037842,-0.035106,0.017408,-0.002932,-0.028372,-0.065767,...,0.000776,0.008353,0.003729,0.088896,0.018658,0.068793,0.015008,-0.003388,-0.022368,-0.026241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2922,0.052932,-0.005505,0.064171,0.044829,-0.023018,-0.063453,0.029355,0.069669,-0.013208,-0.011774,...,-0.036529,0.011251,-0.014321,0.079199,0.008521,-0.019131,0.055961,-0.000702,-0.06277,-0.00485
2923,0.010018,0.023474,0.142011,-0.025828,-0.005586,-0.042053,0.05824,0.003926,0.012897,-0.026682,...,-0.011907,0.0219,0.003697,0.080962,-0.002002,0.042631,0.061267,0.067585,-0.049186,-0.046014
2924,-0.006343,0.031602,0.03923,-0.022726,-0.010439,-0.047128,0.047225,0.009433,-0.001613,-0.040954,...,-0.014107,0.025267,-0.014571,0.031599,0.016931,0.025886,0.042945,0.029249,-0.071943,-0.029845
2925,0.033023,0.023217,0.067981,-0.010901,-0.029001,-0.044324,0.01193,0.029648,0.002527,-0.038812,...,-0.01261,0.047142,0.017225,0.032257,0.005461,-0.020196,0.038433,0.03197,-0.0685,-0.002475
2926,-0.012601,0.058281,0.085045,-0.054298,0.014372,-0.019762,0.147995,0.002676,-0.009801,-0.009867,...,0.03382,0.009958,0.046119,0.049779,-0.008721,0.014014,0.064826,0.097795,-0.08175,-0.047209

In [67]:
data=pd.concat([x_test,y_test],axis=1)

In [68]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
0,-0.004485,0.040216,0.100222,-0.025588,0.02387,-0.046489,0.041858,-0.00494,-0.030297,-0.06549,...,-0.008157,-0.011646,0.074749,0.012365,0.02424,0.015391,0.022898,-0.061241,-0.008003,1
1,0.003821,0.016756,0.094394,-0.037897,-0.016051,-0.044666,0.029508,0.006384,-0.028482,-0.072549,...,0.003995,-0.004308,0.089735,0.031855,0.020855,0.016024,0.014964,-0.017802,-0.029345,1
2,-0.027349,0.04127,0.06666,-0.023446,-0.011394,-0.015634,0.02913,0.039949,-0.024561,-0.043747,...,0.000747,-0.024581,0.062747,0.033207,0.013616,0.043777,-0.017174,-0.076498,-0.050372,0
3,-0.005541,0.028918,0.056532,-0.035579,-0.032072,-0.060312,0.067309,0.028662,-0.044187,-0.043891,...,0.003958,-0.055369,0.04614,0.000933,0.026434,0.004565,0.00413,-0.045542,-0.030666,1
4,-0.01417,0.035596,0.074382,-0.033341,-0.037842,-0.035106,0.017408,-0.002932,-0.028372,-0.065767,...,0.008353,0.003729,0.088896,0.018658,0.068793,0.015008,-0.003388,-0.022368,-0.026241,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2922,0.052932,-0.005505,0.064171,0.044829,-0.023018,-0.063453,0.029355,0.069669,-0.013208,-0.011774,...,0.011251,-0.014321,0.079199,0.008521,-0.019131,0.055961,-0.000702,-0.06277,-0.00485,0
2923,0.010018,0.023474,0.142011,-0.025828,-0.005586,-0.042053,0.05824,0.003926,0.012897,-0.026682,...,0.0219,0.003697,0.080962,-0.002002,0.042631,0.061267,0.067585,-0.049186,-0.046014,1
2924,-0.006343,0.031602,0.03923,-0.022726,-0.010439,-0.047128,0.047225,0.009433,-0.001613,-0.040954,...,0.025267,-0.014571,0.031599,0.016931,0.025886,0.042945,0.029249,-0.071943,-0.029845,1
2925,0.033023,0.023217,0.067981,-0.010901,-0.029001,-0.044324,0.01193,0.029648,0.002527,-0.038812,...,0.047142,0.017225,0.032257,0.005461,-0.020196,0.038433,0.03197,-0.0685,-0.002475,0
2926,-0.012601,0.058281,0.085045,-0.054298,0.014372,-0.019762,0.147995,0.002676,-0.009801,-0.009867,...,0.009958,0.046119,0.049779,-0.008721,0.014014,0.064826,0.097795,-0.08175,-0.047209,0

In [69]:
data=data.sample(frac=1)

In [70]:
data

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,predict
2503,0.040615,0.017576,0.064024,0.02235,-0.04949,-0.059833,0.006746,0.031879,-0.004438,-0.039309,...,0.034986,0.008072,0.061292,0.022438,0.00147,0.053031,-0.007406,-0.016498,0.008873,1
708,0.034707,0.036781,0.03197,-0.01327,-0.055115,-0.042195,0.052685,0.03217,-0.033862,-0.052334,...,0.037179,0.000299,0.074161,0.00302,0.011058,0.00957,0.012722,-0.079375,0.004625,1
1557,-0.00047,0.042336,0.091665,-0.028095,-0.00879,-0.068248,0.038858,0.009458,-0.027224,-0.043574,...,0.002713,-0.010778,0.03179,-0.011851,0.023389,0.021106,0.020065,-0.04094,0.005826,1
1534,-0.012293,0.050511,0.037801,-0.028645,0.018942,-0.024577,0.02247,0.027969,-0.011999,-0.072795,...,-0.021039,0.003814,0.061481,0.018282,0.052974,0.04424,0.011888,-0.01659,-0.08136,1
1259,0.020651,0.030327,0.031986,0.006755,-0.03779,-0.035228,0.019084,0.043149,-0.001341,-0.024747,...,0.033886,-0.007298,0.035855,0.038302,0.016737,0.062867,0.019168,-0.066821,-0.015032,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2119,0.019531,0.051606,0.053759,-0.026035,0.030158,-0.048287,0.033549,-0.013485,-0.032701,-0.044104,...,-0.000226,-0.017438,0.042506,0.013852,0.029602,0.067802,0.006048,-0.058956,-0.025529,1
662,-0.016629,0.03953,0.03789,0.006902,-0.013084,-0.019796,0.026629,-0.009836,-0.007958,-0.046759,...,0.02496,-0.044705,0.070565,0.030426,0.008719,0.055741,0.037614,-0.075246,-0.042771,0
1924,0.006369,0.025203,0.053252,-0.027999,0.001518,-0.040328,0.043879,0.018527,-0.016926,-0.05524,...,0.033359,-0.029209,0.0311,0.015645,0.014908,0.020193,0.023809,-0.072788,-0.028018,1
2549,0.006703,0.022327,0.070119,-0.03724,-0.02692,-0.046396,0.059657,-0.005749,-0.028525,-0.060233,...,0.009489,-0.035335,0.068818,-0.010678,0.044368,0.000368,0.002152,-0.058959,-0.025393,1
2358,0.032321,0.038488,0.006221,-0.050482,-0.037025,-0.057468,0.053666,0.051425,-0.003891,-0.048957,...,0.027979,-0.013048,0.02066,0.030255,0.056064,0.001438,0.000219,-0.066473,-0.015295,1

In [71]:
data.to_csv("test_data(0405).csv")